In [2]:
#importing necessary things
import pandas as pd
import numpy as np

In [188]:
from IPython.display import display
#pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [4]:
# reading in the cohort map, which describes which columns are present in which years
cohort_map=pd.read_excel('CollegeScorecardDataDictionary.xlsx',sheet_name=4)
cohort_map.head()

,Variable Name,MERGED_1996-97 datafile,MERGED_1997-98 datafile,MERGED_1998-99 datafile,MERGED_1999-00 datafile,MERGED_2000-01 datafile,MERGED_2001-02 datafile,MERGED_2002-03 datafile,MERGED_2003-04 datafile,MERGED_2004-05 datafile,...,MERGED_2007-08 datafile,MERGED_2008-09 datafile,MERGED_2009-10 datafile,MERGED_2010-11 datafile,MERGED_2011-12 datafile,MERGED_2012-13 datafile,MERGED_2013-14 datafile,MERGED_2014-15 datafile,MERGED_2015-16 datafile,MERGED_2016-17 datafile
0,UNITID,"AcadYr 1996-97, reported in IPEDS DCY1996-97","AcadYr 1997-98, reported in IPEDS DCY1997-98","AcadYr 1998-99, reported in IPEDS DCY1998-99","AcadYr 1999-00, reported in IPEDS DCY1999-00","AcadYr 2000-01, reported in IPEDS DCY2000-01","AcadYr 2001-02, reported in IPEDS DCY2001-02","AcadYr 2002-03, reported in IPEDS DCY2002-03","AcadYr 2003-04, reported in IPEDS DCY2003-04","AcadYr 2004-05, reported in IPEDS DCY2004-05",...,"AcadYr 2007-08, reported in IPEDS DCY2007-08","AcadYr 2008-09, reported in IPEDS DCY2008-09","AcadYr 2009-10, reported in IPEDS DCY2009-10","AcadYr 2010-11, reported in IPEDS DCY2010-11","AcadYr 2011-12, reported in IPEDS DCY2011-12","AcadYr 2012-13, reported in IPEDS DCY2012-13","AcadYr 2013-14, reported in IPEDS DCY2013-14","AcadYr 2014-15, reported in IPEDS DCY2014-15","AcadYr 2015-16, reported in IPEDS DCY2015-16","AcadYr 2016-17, reported in IPEDS DCY2016-17"
1,OPEID,"AcadYr 1996-97, reported in IPEDS DCY1996-97","AcadYr 1997-98, reported in IPEDS DCY1997-98","AcadYr 1998-99, reported in IPEDS DCY1998-99","AcadYr 1999-00, reported in IPEDS DCY1999-00","AcadYr 2000-01, reported in IPEDS DCY2000-01","AcadYr 2001-02, reported in IPEDS DCY2001-02","AcadYr 2002-03, reported in IPEDS DCY2002-03","AcadYr 2003-04, reported in IPEDS DCY2003-04","AcadYr 2004-05, reported in IPEDS DCY2004-05",...,"AcadYr 2007-08, reported in IPEDS DCY2007-08","AcadYr 2008-09, reported in IPEDS DCY2008-09","AcadYr 2009-10, reported in IPEDS DCY2009-10","AcadYr 2010-11, reported in IPEDS DCY2010-11","AcadYr 2011-12, reported in IPEDS DCY2011-12","AcadYr 2012-13, reported in IPEDS DCY2012-13","AcadYr 2013-14, reported in IPEDS DCY2013-14","AcadYr 2014-15, reported in IPEDS DCY2014-15","AcadYr 2015-16, reported in IPEDS DCY2015-16","AcadYr 2016-17, reported in IPEDS DCY2016-17"
2,OPEID6,"AcadYr 1996-97, reported in IPEDS DCY1996-97","AcadYr 1997-98, reported in IPEDS DCY1997-98","AcadYr 1998-99, reported in IPEDS DCY1998-99","AcadYr 1999-00, reported in IPEDS DCY1999-00","AcadYr 2000-01, reported in IPEDS DCY2000-01","AcadYr 2001-02, reported in IPEDS DCY2001-02","AcadYr 2002-03, reported in IPEDS DCY2002-03","AcadYr 2003-04, reported in IPEDS DCY2003-04","AcadYr 2004-05, reported in IPEDS DCY2004-05",...,"AcadYr 2007-08, reported in IPEDS DCY2007-08","AcadYr 2008-09, reported in IPEDS DCY2008-09","AcadYr 2009-10, reported in IPEDS DCY2009-10","AcadYr 2010-11, reported in IPEDS DCY2010-11","AcadYr 2011-12, reported in IPEDS DCY2011-12","AcadYr 2012-13, reported in IPEDS DCY2012-13","AcadYr 2013-14, reported in IPEDS DCY2013-14","AcadYr 2014-15, reported in IPEDS DCY2014-15","AcadYr 2015-16, reported in IPEDS DCY2015-16","AcadYr 2016-17, reported in IPEDS DCY2016-17"
3,INSTNM,"AcadYr 1996-97, reported in IPEDS DCY1996-97, ...","AcadYr 1997-98, reported in IPEDS DCY1997-98, ...","AcadYr 1998-99, reported in IPEDS DCY1998-99, ...","AcadYr 1999-00, reported in IPEDS DCY1999-00, ...","AcadYr 2000-01, reported in IPEDS DCY2000-01, ...","AcadYr 2001-02, reported in IPEDS DCY2001-02, ...","AcadYr 2002-03, reported in IPEDS DCY2002-03, ...","AcadYr 2003-04, reported in IPEDS DCY2003-04, ...","AcadYr 2004-05, reported in IPEDS DCY2004-05, ...",...,"AcadYr 2007-08, reported in IPEDS DCY2007-08, ...","AcadYr 2008-09, reported in IPEDS DCY2008-09, ...","AcadYr 2009-10, reported in IPEDS DCY2009-10, ...","AcadYr 2010-11, reported in IPEDS DCY2010-11, ...","AcadYr 2011-12, reported in IPEDS DCY2011-12, ...","AcadYr 2012-13, reported in IPEDS DCY2012-13, ...","AcadYr 2013-14, reported in IPEDS DCY2013-14, ...","AcadYr 2014-15, reported in IPEDS DCY2014-15, ...","AcadYr 2015-16, reported in IPEDS DCY2015-16, ...","AcadYr 2016-17, reported in IPEDS DCY2016-17, ..."
4,CITY,"AcadYr 1996-97, reported in IPEDS DCY1996-97, ...","AcadYr 1997-98, reported in IPEDS DCY1997-98, ...","AcadYr 1998-99, reported in IPEDS DCY1998-99, ...","AcadYr 1999-00, reported in IPEDS DCY1999-00, ...","AcadYr 2000-01, reported in IPEDS DCY2000-01, ...","AcadYr 2001-02, reported in IPEDS DCY2001-02, ...","AcadYr 2002-03, reported in IPEDS DCY2002-03, ...","AcadYr 2003-04, reported in IPEDS DCY2003-04, ...","AcadYr 2004-05, reported in IPEDS DCY2004-05, ...",...,"AcadYr 2007-08, reported in IPEDS DCY2007-08, ...","AcadYr 2008-09, reported in IPEDS DCY2008-09, ...","AcadYr 2009-10, reported in IPEDS DCY2009-10, ...","AcadYr 2010-11, reported in IPEDS DCY2010-11, ...","AcadYr 2011-12, reported in IPEDS DCY2011-12, ...","AcadYr 2012-13, reported in IPEDS DCY2012-13, ...","AcadYr 2013-14, reported in IPEDS DCY2013-14, ...","AcadYr 2014-15, reported in IPEDS DCY2014-15, ...","AcadYr 2015-16, reported in IPEDS DCY2015-16, ...","AcadYr 2016-17, reported in IPEDS DCY2016-17, ..."

In [295]:
# reading in the data dictionary, which has descriptions of each variable 
data_dict = pd.read_excel('CollegeScorecardDataDictionary.xlsx', sheet_name=3)
data_dict.head()

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
0,Unit ID for institution,root,id,integer,UNITID,NaN,NaN,IPEDS,Shown/used on consumer website.
1,8-digit OPE ID for institution,root,ope8_id,integer,OPEID,NaN,NaN,IPEDS,Shown/used on consumer website.
2,6-digit OPE ID for institution,root,ope6_id,integer,OPEID6,NaN,NaN,IPEDS,Shown/used on consumer website.
3,Institution name,school,name,autocomplete,INSTNM,NaN,NaN,IPEDS,Shown/used on consumer website.
4,City,school,city,autocomplete,CITY,NaN,NaN,IPEDS,Shown/used on consumer website.
5,State postcode,school,state,string,STABBR,NaN,NaN,IPEDS,Shown/used on consumer website.
6,ZIP code,school,zip,string,ZIP,NaN,NaN,IPEDS,NaN
7,Accreditor for institution,school,accreditor,string,ACCREDAGENCY,NaN,NaN,FSA,NaN
8,URL for institution's homepage,school,school_url,string,INSTURL,NaN,NaN,IPEDS,Shown/used on consumer website.
9,URL for institution's net price calculator,school,price_calculator_url,string,NPCURL,NaN,NaN,IPEDS,Shown/used on consumer website.
10,Predominant degree awarded (recoded 0s and 4s),school,degrees_awarded.predominant_recoded,integer,SCH_DEG,NaN,NaN,IPEDS/NSLDS,"Missing values, 0s, and 4s from PREDDEG recode..."
11,Schools that are on Heightened Cash Monitoring...,school,under_investigation,integer,HCM2,NaN,NaN,FSA,Shown/used on consumer website; Flag (1=HCM2)
12,Flag for main campus,school,main_campus,integer,MAIN,0.0,Not main campus,IPEDS,NaN
13,NaN,school,NaN,NaN,NaN,1.0,Main campus,NaN,NaN
14,Number of branch campuses,school,branches,integer,NUMBRANCH,NaN,NaN,IPEDS,NaN
15,Predominant undergraduate degree awarded\n 0 N...,school,degrees_awarded.predominant,integer,PREDDEG,0.0,Not classified,IPEDS,Shown/used on consumer website.
16,NaN,school,NaN,NaN,NaN,1.0,Predominantly certificate-degree granting,NaN,NaN
17,NaN,school,NaN,NaN,NaN,2.0,Predominantly associate's-degree granting,NaN,NaN
18,NaN,school,NaN,NaN,NaN,3.0,Predominantly bachelor's-degree granting,NaN,NaN
19,NaN,school,NaN,NaN,NaN,4.0,Entirely graduate-degree granting,NaN,NaN
20,Highest degree awarded\n 0 Non-degree-granting...,school,degrees_awarded.highest,integer,HIGHDEG,0.0,Non-degree-granting,IPEDS,Shown/used on consumer website.
21,NaN,school,NaN,NaN,NaN,1.0,Certificate degree,NaN,NaN
22,NaN,school,NaN,NaN,NaN,2.0,Associate degree,NaN,NaN
23,NaN,school,NaN,NaN,NaN,3.0,Bachelor's degree,NaN,NaN
24,NaN,school,NaN,NaN,NaN,4.0,Graduate degree,NaN,NaN
25,Control of institution,school,ownership,integer,CONTROL,1.0,Public,IPEDS,Shown/used on consumer website.
26,NaN,school,NaN,NaN,NaN,2.0,Private nonprofit,NaN,NaN
27,NaN,school,NaN,NaN,NaN,3.0,Private for-profit,NaN,NaN
28,FIPS code for state,school,state_fips,integer,ST_FIPS,1.0,Alabama,IPEDS,NaN
29,NaN,school,NaN,NaN,NaN,2.0,Alaska,NaN,NaN
30,NaN,school,NaN,NaN,NaN,4.0,Arizona,NaN,NaN
31,NaN,school,NaN,NaN,NaN,5.0,Arkansas,NaN,NaN
32,NaN,school,NaN,NaN,NaN,6.0,California,NaN,NaN
33,NaN,school,NaN,NaN,NaN,8.0,Colorado,NaN,NaN
34,NaN,school,NaN,NaN,NaN,9.0,Connecticut,NaN,NaN
35,NaN,school,NaN,NaN,NaN,10.0,Delaware,NaN,NaN
36,NaN,school,NaN,NaN,NaN,11.0,District of Columbia,NaN,NaN
37,NaN,school,NaN,NaN,NaN,12.0,Florida,NaN,NaN
38,NaN,school,NaN,NaN,NaN,13.0,Georgia,NaN,NaN
39,NaN,school,NaN,NaN,NaN,15.0,Hawaii,NaN,NaN
40,NaN,school,NaN,NaN,NaN,16.0,Idaho,NaN,NaN
41,NaN,school,NaN,NaN,NaN,17.0,Illinois,NaN,NaN
42,NaN,school,NaN,NaN,NaN,18.0,Indiana,NaN,NaN
43,NaN,school,NaN,NaN,NaN,19.0,Iowa,NaN,NaN
44,NaN,school,NaN,NaN,NaN,20.0,Kansas,NaN,NaN
45,NaN,school,NaN,NaN,NaN,21.0,Kentucky,NaN,NaN
46,NaN,school,NaN,NaN,NaN,22.0,Louisiana,NaN,NaN
47,NaN,school,NaN,NaN,NaN,23.0,Maine,NaN,NaN
48,NaN,school,NaN,NaN,NaN,24.0,Maryland,NaN,NaN
49,NaN,school,NaN,NaN,NaN,25.0,Massachusetts,NaN,NaN

In [297]:
# get all valid columns and store them in non_null_columns
non_null_cols = data_dict[data_dict['developer-friendly name'].notnull()]

# extract developer-friendly name and dev category as colnames dataframe
devnames_cohort = non_null_cols[['developer-friendly name','dev-category', 'NAME OF DATA ELEMENT']]
devnames_cohort=devnames_cohort.reset_index(drop=True)

# append dev_name and dev_category from colnames to cohort_map
cohort_map['dev_name']=devnames_cohort['developer-friendly name']
cohort_map['dev_category']=devnames_cohort['dev-category']
cohort_map['info']=devnames_cohort['NAME OF DATA ELEMENT']
non_null_cols

                                   NAME OF DATA ELEMENT dev-category  \
0                               Unit ID for institution         root
1                        8-digit OPE ID for institution         root
2                        6-digit OPE ID for institution         root
3                                      Institution name       school
4                                                  City       school
5                                        State postcode       school
6                                              ZIP code       school
7                            Accreditor for institution       school
8                        URL for institution's homepage       school
9            URL for institution's net price calculator       school
10       Predominant degree awarded (recoded 0s and 4s)       school
11    Schools that are on Heightened Cash Monitoring...       school
12                                 Flag for main campus       school
14                            Number of branch campuses       school
15    Predominant undergraduate degree awarded\n 0 N...       school
20    Highest degree awarded\n 0 Non-degree-granting...       school
25                               Control of institution       school
28                                  FIPS code for state       school
86                                       Region (IPEDS)       school
96                                Locale of institution       school
108               Degree of urbanization of institution       school
116                                            Latitude         root
117                                           Longitude         root
118                    Carnegie Classification -- basic       school
153    Carnegie Classification -- undergraduate profile       school
170         Carnegie Classification -- size and setting       school
190   Flag for Historically Black College and Univer...       school
192            Flag for predominantly black institution       school
194   Flag for Alaska Native Native Hawaiian serving...       school
196              Flag for tribal college and university       school
198   Flag for Asian American Native American Pacifi...       school
200               Flag for Hispanic-serving institution       school
202     Flag for Native American non-tribal institution       school
204                           Flag for men-only college       school
206                         Flag for women-only college       school
208             Religous affiliation of the institution       school
276                                      Admission rate   admissions
277   Admission rate for all campuses rolled up to t...   admissions
278   25th percentile of SAT scores at the instituti...   admissions
279   75th percentile of SAT scores at the instituti...   admissions
280   25th percentile of SAT scores at the instituti...   admissions
281   75th percentile of SAT scores at the instituti...   admissions
282   25th percentile of SAT scores at the instituti...   admissions
283   75th percentile of SAT scores at the instituti...   admissions
284   Midpoint of SAT scores at the institution (cri...   admissions
285    Midpoint of SAT scores at the institution (math)   admissions
286   Midpoint of SAT scores at the institution (wri...   admissions
287         25th percentile of the ACT cumulative score   admissions
288         75th percentile of the ACT cumulative score   admissions
289            25th percentile of the ACT English score   admissions
290            75th percentile of the ACT English score   admissions
291               25th percentile of the ACT math score   admissions
292               75th percentile of the ACT math score   admissions
293            25th percentile of the ACT writing score   admissions
294            75th percentile of the ACT writing score   admissions
295                Midpoint of the ACT cumulative score   admissions
296                   Midpoint of the ACT English score   admissions
297                      Midpoint of the ACT math score   admissions
298                   Midpoint of the ACT writing score   admissions
299   Average SAT equivalent score of students admitted   admissions
300   Average SAT equivalent score of students admit...   admissions
301   Percentage of degrees awarded in Agriculture, ...    academics
302   Percentage of degrees awarded in Natural Resou...    academics
303   Percentage of degrees awarded in Architecture ...    academics
304   Percentage of degrees awarded in Area, Ethnic,...    academics
305   Percentage of degrees awarded in Communication...    academics
306   Percentage of degrees awarded in Communication...    academics
307   Percentage of degrees awarded in Computer And ...    academics
308   Percentage of degrees awarded in Personal And ...    academics
309         Percentage of degrees awarded in Education.    academics
310       Percentage of degrees awarded in Engineering.    academics
311   Percentage of degrees awarded in Engineering T...    academics
312   Percentage of degrees awarded in Foreign Langu...    academics
313   Percentage of degrees awarded in Family And Co...    academics
314   Percentage of degrees awarded in Legal Profess...    academics
315   Percentage of degrees awarded in English Langu...    academics
316   Percentage of degrees awarded in Liberal Arts ...    academics
317   Percentage of degrees awarded in Library Science.    academics
318   Percentage of degrees awarded in Biological An...    academics
319   Percentage of degrees awarded in Mathematics A...    academics
320   Percentage of degrees awarded in Military Tech...    academics
321   Percentage of degrees awarded in Multi/Interdi...    academics
322   Percentage of degrees awarded in Parks, Recrea...    academics
323   Percentage of degrees awarded in Philosophy An...    academics
324   Percentage of degrees awarded in Theology And ...    academics
325   Percentage of degrees awarded in Physical Scie...    academics
326   Percentage of degrees awarded in Science Techn...    academics
327        Percentage of degrees awarded in Psychology.    academics
328   Percentage of degrees awarded in Homeland Secu...    academics
329   Percentage of degrees awarded in Public Admini...    academics
330   Percentage of degrees awarded in Social Sciences.    academics
331   Percentage of degrees awarded in Construction ...    academics
332   Percentage of degrees awarded in Mechanic And ...    academics
333   Percentage of degrees awarded in Precision Pro...    academics
334   Percentage of degrees awarded in Transportatio...    academics
335   Percentage of degrees awarded in Visual And Pe...    academics
336   Percentage of degrees awarded in Health Profes...    academics
337   Percentage of degrees awarded in Business, Man...    academics
338           Percentage of degrees awarded in History.    academics
339   Certificate of less than one academic year in ...    academics
340   Certificate of at least one but less than two ...    academics
341   Associate degree in Agriculture, Agriculture O...    academics
342   Awards of at least two but less than four acad...    academics
343   Bachelor's degree in Agriculture, Agriculture ...    academics
344   Certificate of less than one academic year in ...    academics
345   Certificate of at least one but less than two ...    academics
346   Associate degree in Natural Resources And Cons...    academics
347   Award of at least two but less than four acade...    academics
348   Bachelor's degree in Natural Resources And Con...    academics
349   Certificate of less than one academic year in ...    academics
350   Certificate of at least one but less than two ...    academics
351   Associate degree in Architecture And Related S...    academics
352   Award of more than two but less than four acad...    academics
353   Bachelor's degree in Architecture And Related ...    academics
354   Certificate of less than one academic year in ...    academics
355   Certificate of at least one but less than two ...    academics
356   Associate degree in Area, Ethnic, Cultural, Ge...    academics
357   Award of more than two but less than four acad...    academics
358   Bachelor's degree in Area, Ethnic, Cultural, G...    academics
359   Certificate of less than one academic year in ...    academics
360   Certificate of at least one but less than two ...    academics
361   Associate degree in Communication, Journalism,...    academics
362   Award of more than two but less than four acad...    academics
363   Bachelor's degree in Communication, Journalism...    academics
364   Certificate of less than one academic year in ...    academics
365   Certificate of at least one but less than two ...    academics
366   Associate degree in Communications Technologie...    academics
367   Award of more than two but less than four acad...    academics
368   Bachelor's degree in Communications Technologi...    academics
369   Certificate of less than one academic year in ...    academics
370   Certificate of at least one but less than two ...    academics
371   Associate degree in Computer And Information S...    academics
372   Award of more than two but less than four acad...    academics
373   Bachelor's degree in Computer And Information ...    academics
374   Certificate of less than one academic year in ...    academics
375   Certificate of at least one but less than two ...    academics
376   Associate degree in Personal And Culinary Serv...    academics
377   Award of more than two but less than four acad...    academics
378   Bachelor's degree in Personal And Culinary Ser...    academics
379   Certificate of less than one academic year in ...    academics
380   Certificate of at least one but less than two ...    academics
381                      Associate degree in Education.    academics
382   Award of more than two but less than four acad...    academics
383                     Bachelor's degree in Education.    academics
384   Certificate of less than one academic year in ...    academics
385   Certificate of at least one but less than two ...    academics
386                    Associate degree in Engineering.    academics
387   Award of more than two but less than four acad...    academics
388                   Bachelor's degree in Engineering.    academics
389   Certificate of less than one academic year in ...    academics
390   Certificate of at least one but less than two ...    academics
391   Associate degree in Engineering Technologies A...    academics
392   Award of more than two but less than four acad...    academics
393   Bachelor's degree in Engineering Technologies ...    academics
394   Certificate of less than one academic year in ...    academics
395   Certificate of at least one but less than two ...    academics
396   Associate degree in Foreign Languages, Literat...    academics
397   Award of more than two but less than four acad...    academics
398   Bachelor's degree in Foreign Languages, Litera...    academics
399   Certificate of less than one academic year in ...    academics
400   Certificate of at least one but less than two ...    academics
401   Associate degree in Family And Consumer Scienc...    academics
402   Award of more than two but less than four acad...    academics
403   Bachelor's degree in Family And Consumer Scien...    academics
404   Certificate of less than one academic year in ...    academics
405   Certificate of at least one but less than two ...    academics
406   Associate degree in Legal Professions And Stud...    academics
407   Award of more than two but less than four acad...    academics
408   Bachelor's degree in Legal Professions And Stu...    academics
409   Certificate of less than one academic year in ...    academics
410   Certificate of at least one but less than two ...    academics
411   Associate degree in English Language And Liter...    academics
412   Award of more than two but less than four acad...    academics
413   Bachelor's degree in English Language And Lite...    academics
414   Certificate of less than one academic year in ...    academics
415   Certificate of at least one but less than two ...    academics
416   Associate degree in Liberal Arts And Sciences,...    academics
417   Award of more than two but less than four acad...    academics
418   Bachelor's degree in Liberal Arts And Sciences...    academics
419   Certificate of less than one academic year in ...    academics
420   Certificate of at least one but less than two ...    academics
421                Associate degree in Library Science.    academics
422   Award of more than two but less than four acad...    academics
423               Bachelor's degree in Library Science.    academics
424   Certificate of less than one academic year in ...    academics
425   Certificate of at least one but less than two ...    academics
426   Associate degree in Biological And Biomedical ...    academics
427   Award of more than two but less than four acad...    academics
428   Bachelor's degree in Biological And Biomedical...    academics
429   Certificate of less than one academic year in ...    academics
430   Certificate of at least one but less than two ...    academics
431     Associate degree in Mathematics And Statistics.    academics
432   Award of more than two but less than four acad...    academics
433    Bachelor's degree in Mathematics And Statistics.    academics
434   Certificate of less than one academic year in ...    academics
435   Certificate of at least one but less than two ...    academics
436   Associate degree in Military Technologies And ...    academics
437   Award of more than two but less than four acad...    academics
438   Bachelor's degree in Military Technologies And...    academics
439   Certificate of less than one academic year in ...    academics
440   Certificate of at least one but less than two ...    academics
441   Associate degree in Multi/Interdisciplinary St...    academics
442   Award of more than two but less than four acad...    academics
443   Bachelor's degree in Multi/Interdisciplinary S...    academics
444   Certificate of less than one academic year in ...    academics
445   Certificate of at least one but less than two ...    academics
446   Associate degree in Parks, Recreation, Leisure...    academics
447   Award of more than two but less than four acad...    academics
448   Bachelor's degree in Parks, Recreation, Leisur...    academics
449   Certificate of less than one academic year in ...    academics
450   Certificate of at least one but less than two ...    academics
451   Associate degree in Philosophy And Religious S...    academics
452   Award of more than two but less than four acad...    academics
453   Bachelor's degree in Philosophy And Religious ...    academics
454   Certificate of less than one academic year in ...    academics
455   Certificate of at least one but less than two ...    academics
456   Associate degree in Theology And Religious Voc...    academics
457   Award of more than two but less than four acad...    academics
458   Bachelor's degree in Theology And Religious Vo...    academics
459   Certificate of less than one academic year in ...    academics
460   Certificate of at least one but less than two ...    academics
461              Associate degree in Physical Sciences.    academics
462   Award of more than two but less than four acad...    academics
463             Bachelor's degree in Physical Sciences.    academics
464   Certificate of less than one academic year in ...    academics
465   Certificate of at least one but less than two ...    academics
466   Associate degree in Science Technologies/Techn...    academics
467   Award of more than two but less than four acad...    academics
468   Bachelor's degree in Science Technologies/Tech...    academics
469   Certificate of less than one academic year in ...    academics
470   Certificate of at least one but less than two ...    academics
471                     Associate degree in Psychology.    academics
472   Award of more than two but less than four acad...    academics
473                    Bachelor's degree in Psychology.    academics
474   Certificate of less than one academic year in ...    academics
475   Certificate of at least one but less than two ...    academics
476   Associate degree in Homeland Security, Law Enf...    academics
477   Award of more than two but less than four acad...    academics
478   Bachelor's degree in Homeland Security, Law En...    academics
479   Certificate of less than one academic year in ...    academics
480   Certificate of at least one but less than two ...    academics
481   Associate degree in Public Administration And ...    academics
482   Award of more than two but less than four acad...    academics
483   Bachelor's degree in Public Administration And...    academics
484   Certificate of less than one academic year in ...    academics
485   Certificate of at least one but less than two ...    academics
486                Associate degree in Social Sciences.    academics
487   Award of more than two but less than four acad...    academics
488               Bachelor's degree in Social Sciences.    academics
489   Certificate of less than one academic year in ...    academics
490   Certificate of at least one but less than two ...    academics
491            Associate degree in Construction Trades.    academics
492   Award of more than two but less than four acad...    academics
493           Bachelor's degree in Construction Trades.    academics
494   Certificate of less than one academic year in ...    academics
495   Certificate of at least one but less than two ...    academics
496   Associate degree in Mechanic And Repair Techno...    academics
497   Award of more than two but less than four acad...    academics
498   Bachelor's degree in Mechanic And Repair Techn...    academics
499   Certificate of less than one academic year in ...    academics
500   Certificate of at least one but less than two ...    academics
501           Associate degree in Precision Production.    academics
502   Award of more than two but less than four acad...    academics
503          Bachelor's degree in Precision Production.    academics
504   Certificate of less than one academic year in ...    academics
505   Certificate of at least one but less than two ...    academics
506   Associate degree in Transportation And Materia...    academics
507   Award of more than two but less than four acad...    academics
508   Bachelor's degree in Transportation And Materi...    academics
509   Certificate of less than one academic year in ...    academics
510   Certificate of at least one but less than two ...    academics
511     Associate degree in Visual And Performing Arts.    academics
512   Award of more than two but less than four acad...    academics
513    Bachelor's degree in Visual And Performing Arts.    academics
514   Certificate of less than one academic year in ...    academics
515   Certificate of at least one but less than two ...    academics
516   Associate degree in Health Professions And Rel...    academics
517   Award of more than two but less than four acad...    academics
518   Bachelor's degree in Health Professions And Re...    academics
519   Certificate of less than one academic year in ...    academics
520   Certificate of at least one but less than two ...    academics
521   Associate degree in Business, Management, Mark...    academics
522   Award of more than two but less than four acad...    academics
523   Bachelor's degree in Business, Management, Mar...    academics
524   Certificate of less than one academic year in ...    academics
525   Certificate of at least one but less than two ...    academics
526                        Associate degree in History.    academics
527   Award of more than two but less than four acad...    academics

The modeled variables are:
* mean post-graduate earnings
* loan repayment rate

In [118]:
# looking at how many 
cohort_map[(cohort_map['dev_category']=="repayment")]
cohort_map[(cohort_map['dev_name'].str.contains('degrees_awarded'))]

,Variable Name,MERGED_1996-97 datafile,MERGED_1997-98 datafile,MERGED_1998-99 datafile,MERGED_1999-00 datafile,MERGED_2000-01 datafile,MERGED_2001-02 datafile,MERGED_2002-03 datafile,MERGED_2003-04 datafile,MERGED_2004-05 datafile,...,MERGED_2010-11 datafile,MERGED_2011-12 datafile,MERGED_2012-13 datafile,MERGED_2013-14 datafile,MERGED_2014-15 datafile,MERGED_2015-16 datafile,MERGED_2016-17 datafile,dev_name,dev_category,info
10,SCH_DEG,NaN,NaN,AY 2015-16,AY 2015-16,AY 2015-16,AY 2015-16,AY 2015-16,AY 2015-16,AY 2015-16,...,AY 2015-16,AY 2015-16,AY 2015-16,AY 2015-16,AY 2015-16,AY 2012-13,NaN,degrees_awarded.predominant_recoded,school,Predominant degree awarded (recoded 0s and 4s)
14,PREDDEG,"AY1995-96, reported in IPEDS DCY1996-97","AY1996-97, reported in IPEDS DCY1997-98","AY1997-98, reported in IPEDS DCY1998-99","AY1998-99, reported in IPEDS DCY1999-00","AY1999-00, reported in IPEDS DCY2000-01","AY2000-01, reported in IPEDS DCY2001-02","AY2001-02, reported in IPEDS DCY2002-03","AY2002-03, reported in IPEDS DCY2003-04","AY2003-04, reported in IPEDS DCY2004-05",...,"AY2009-10, reported in IPEDS DCY2010-11","AY2010-11, reported in IPEDS DCY2011-12","AY2011-12, reported in IPEDS DCY2012-13","AY2012-13, reported in IPEDS DCY2013-14","AY2013-14, reported in IPEDS DCY2014-15","AY2014-15, reported in IPEDS DCY2015-16","AY2015-16, reported in IPEDS DCY2016-17",degrees_awarded.predominant,school,Predominant undergraduate degree awarded\n 0 N...
15,HIGHDEG,"AY1995-96, reported in IPEDS DCY1996-97","AY1996-97, reported in IPEDS DCY1997-98","AY1997-98, reported in IPEDS DCY1998-99","AY1998-99, reported in IPEDS DCY1999-00","AY1999-00, reported in IPEDS DCY2000-01","AY2000-01, reported in IPEDS DCY2001-02","AY2001-02, reported in IPEDS DCY2002-03","AY2002-03, reported in IPEDS DCY2003-04","AY2003-04, reported in IPEDS DCY2004-05",...,"AY2009-10, reported in IPEDS DCY2010-11","AY2010-11, reported in IPEDS DCY2011-12","AY2011-12, reported in IPEDS DCY2012-13","AY2012-13, reported in IPEDS DCY2013-14","AY2013-14, reported in IPEDS DCY2014-15","AY2014-15, reported in IPEDS DCY2015-16","AY2015-16, reported in IPEDS DCY2016-17",degrees_awarded.highest,school,Highest degree awarded\n 0 Non-degree-granting...

In [14]:
cohort_map[(cohort_map['dev_category']=="earnings")]

,Variable Name,MERGED_1996-97 datafile,MERGED_1997-98 datafile,MERGED_1998-99 datafile,MERGED_1999-00 datafile,MERGED_2000-01 datafile,MERGED_2001-02 datafile,MERGED_2002-03 datafile,MERGED_2003-04 datafile,MERGED_2004-05 datafile,...,MERGED_2010-11 datafile,MERGED_2011-12 datafile,MERGED_2012-13 datafile,MERGED_2013-14 datafile,MERGED_2014-15 datafile,MERGED_2015-16 datafile,MERGED_2016-17 datafile,dev_name,dev_category,info
1603,COUNT_ED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,student_count,earnings,Count of students in the earnings cohort
1636,COUNT_NWNE_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.not_working_not_enrolled.ov...,earnings,Number of students not working and not enrolle...
1637,COUNT_WNE_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.working_not_enrolled.overall,earnings,Number of students working and not enrolled 10...
1638,MN_EARN_WNE_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.working_not_enrolled.mean_e...,earnings,Mean earnings of students working and not enro...
1639,MD_EARN_WNE_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.median,earnings,Median earnings of students working and not en...
1640,PCT10_EARN_WNE_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,10_yrs_after_entry.working_not_enrolled.earnin...,earnings,10th percentile of earnings of students workin...
1641,PCT25_EARN_WNE_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.working_not_enrolled.earnin...,earnings,25th percentile of earnings of students workin...
1642,PCT75_EARN_WNE_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.working_not_enrolled.earnin...,earnings,75th percentile of earnings of students workin...
1643,PCT90_EARN_WNE_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,10_yrs_after_entry.working_not_enrolled.earnin...,earnings,90th percentile of earnings of students workin...
1644,SD_EARN_WNE_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.working_not_enrolled.std_dev,earnings,Standard deviation of earnings of students wor...
1645,COUNT_WNE_INC1_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.working_not_enrolled.income...,earnings,Number of students working and not enrolled 10...
1646,COUNT_WNE_INC2_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.working_not_enrolled.income...,earnings,Number of students working and not enrolled 10...
1647,COUNT_WNE_INC3_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.working_not_enrolled.income...,earnings,Number of students working and not enrolled 10...
1648,COUNT_WNE_INDEP0_INC1_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,10_yrs_after_entry.working_not_enrolled.depend...,earnings,Number of dependent students working and not e...
1649,COUNT_WNE_INDEP0_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.working_not_enrolled.depend...,earnings,Number of dependent students working and not e...
1650,COUNT_WNE_INDEP1_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.independent_students,earnings,Number of independent students working and not...
1651,COUNT_WNE_MALE0_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.female_students,earnings,Number of female students working and not enro...
1652,COUNT_WNE_MALE1_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.male_students,earnings,Number of male students working and not enroll...
1653,GT_25K_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...",NaN,NaN,NaN,10_yrs_after_entry.percent_greater_than_25000,earnings,"Share of students earning over $25,000/year (t..."
1654,MN_EARN_WNE_INC1_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.percent_greater_than_28000,earnings,"Share of students earning over $28,000/year (t..."
1655,MN_EARN_WNE_INC2_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.mean_earnings.lowest_tercile,earnings,Mean earnings of students working and not enro...
1656,MN_EARN_WNE_INC3_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.mean_earnings.middle_tercile,earnings,Mean earnings of students working and not enro...
1657,MN_EARN_WNE_INDEP0_INC1_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,10_yrs_after_entry.mean_earnings.highest_tercile,earnings,Mean earnings of students working and not enro...
1658,MN_EARN_WNE_INDEP0_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.mean_earnings.dependent_stu...,earnings,Mean earnings of dependent students working an...
1659,MN_EARN_WNE_INDEP1_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.mean_earnings.dependent_stu...,earnings,Mean earnings of dependent students working an...
1660,MN_EARN_WNE_MALE0_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.mean_earnings.independent_s...,earnings,Mean earnings of independent students working ...
1661,MN_EARN_WNE_MALE1_P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2000-01, AY2001-02 pooled cohort me...","Treasury AY2001-02, AY2002-03 pooled cohort me...","Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...",NaN,NaN,10_yrs_after_entry.mean_earnings.female_students,earnings,Mean earnings of female students working and n...
1662,COUNT_NWNE_P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",NaN,...,NaN,"Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...","Treasury AY2006-07, AY2007-08 pooled cohort me...","Treasury AY2007-08, AY2008-09 pooled cohort me...",NaN,NaN,10_yrs_after_entry.mean_earnings.male_students,earnings,Mean earnings of male students working and not...
1663,COUNT_WNE_P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",NaN,...,NaN,"Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...","Treasury AY2006-07, AY2007-08 pooled cohort me...","Treasury AY2007-08, AY2008-09 pooled cohort me...",NaN,NaN,6_yrs_after_entry.not_working_not_enrolled.ove...,earnings,Number of students not working and not enrolle...
1664,MN_EARN_WNE_P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",NaN,...,NaN,"Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...","Treasury AY2006-07, AY2007-08 pooled cohort me...","Treasury AY2007-08, AY2008-09 pooled cohort me...",NaN,NaN,6_yrs_after_entry.working_not_enrolled.overall,earnings,Number of students working and not enrolled 6 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1681,MN_EARN_WNE_INC2_P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",NaN,...,NaN,"Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...","Treasury AY2006-07, AY2007-08 pooled cohort me...","Treasury AY2007-08, AY2008-09 pooled cohort me...",NaN,NaN,6_yrs_after_entry.percent_greater_than_28000,earnings,"Share of students earning over $28,000/year (t..."
1682,MN_EARN_WNE_INC3_P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",NaN,...,NaN,"Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...","Treasury AY2006-07, AY2007-08 pooled cohort me...","Treasury AY2007-08, AY2008-09 pooled cohort me...",NaN,NaN,6_yrs_after_entry.mean_earnings.lowest_tercile,earnings,Mean earnings of students working and not enro...
1683,MN_EARN_WNE_INDEP0_INC1_P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",NaN,...,NaN,"Treasury AY2004-05, AY2005-06 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,6_yrs_after_entry.mean_earnings.middle_tercile,earnings,Mean earnings of students working and not enro...
1684,MN_EARN_WNE_INDEP0_P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",NaN,...,NaN,"Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...","Treasury AY2006-07, AY2007-08 pooled cohort me...","Treasury AY2007-08, AY2008-09 pooled cohort me...",NaN,NaN,6_yrs_after_entry.mean_earnings.highest_tercile,earnings,Mean earnings of students working and not enro...
1685,MN_EARN_WNE_INDEP1_P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",NaN,...,NaN,"Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...","Treasury AY2006-07, AY2007-08 pooled cohort me...","Treasury AY2007-08, AY2008-09 pooled cohort me...",NaN,NaN,6_yrs_after_entry.mean_earnings.dependent_stud...,earnings,Mean earnings of dependent students working an...
1686,MN_EARN_WNE_MALE0_P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",NaN,...,NaN,"Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...","Treasury AY2006-07, AY2007-08 pooled cohort me...","Treasury AY2007-08, AY2008-09 pooled cohort me...",NaN,NaN,6_yrs_after_entry.mean_earnings.dependent_stud...,earnings,Mean earnings of dependent students working an...
1687,MN_EARN_WNE_MALE1_P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",NaN,...,NaN,"Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...","Treasury AY2006-07, AY2007-08 pooled cohort me...","Treasury AY2007-08, AY2008-09 pooled cohort me...",NaN,NaN,6_yrs_after_entry.mean_earnings.independent_st...,earnings,Mean earnings of independent students working ...
1688,COUNT_NWNE_P7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",...,"Treasury AY2002-03, AY2003-04 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,NaN,6_yrs_after_entry.mean_earnings.female_students,earnings,Mean earnings of female students working and n...
1689,COUNT_WNE_P7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",...,"Treasury AY2002-03, AY2003-04 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,NaN,6_yrs_after_entry.mean_earnings.male_students,earnings,Mean earnings of male students working and not...
1690,MN_EARN_WNE_P7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",...,"Treasury AY2002-03, AY2003-04 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,NaN,7_yrs_after_entry.not_working_not_enrolled,earnings,Number of students not working and not enrolle...
1691,SD_EARN_WNE_P7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",...,"Treasury AY2002-03, AY2003-04 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,NaN,7_yrs_after_entry.working_not_enrolled,earnings,Number of students working and not enrolled 7 ...
1692,GT_25K_P7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Treasury AY1996-97, AY1997-98 pooled cohort me...",...,"Treasury AY2002-03, AY2003-04 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,NaN,7_yrs_after_entry.mean_earnings,earnings,Mean earnings of students working and not enro...
1693,COUNT_NWNE_P8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...","Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...",NaN,NaN,7_yrs_after_entry.std_dev,earnings,Standard deviation of earnings of students wor...
1694,COUNT_WNE_P8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...","Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...",NaN,NaN,7_yrs_after_entry.percent_greater_than_25000,earnings,"Share of students earning over $25,000/year (t..."
1695,MN_EARN_WNE_P8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...","Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...",NaN,NaN,8_yrs_after_entry.not_working_not_enrolled,earnings,Number of students not working and not enrolle...
1696,MD_EARN_WNE_P8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...","Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...",NaN,NaN,8_yrs_after_entry.working_not_enrolled,earnings,Number of students working and not enrolled 8 ...
1697,PCT10_EARN_WNE_P8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2002-03, AY2003-04 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,8_yrs_after_entry.mean_earnings,earnings,Mean earnings of students working and not enro...
1698,PCT25_EARN_WNE_P8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...","Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...",NaN,NaN,8_yrs_after_entry.median_earnings,earnings,Median earnings of students working and not en...
1699,PCT75_EARN_WNE_P8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...","Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...",NaN,NaN,8_yrs_after_entry.10th_percentile_earnings,earnings,10th percentile of earnings of students workin...
1700,PCT90_EARN_WNE_P8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2002-03, AY2003-04 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,8_yrs_after_entry.25th_percentile_earnings,earnings,25th percentile of earnings of students workin...
1701,SD_EARN_WNE_P8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...","Treasury AY2004-05, AY2005-06 pooled cohort me...","Treasury AY2005-06, AY2006-07 pooled cohort me...",NaN,NaN,8_yrs_after_entry.75th_percentile_earnings,earnings,75th percentile of earnings of students workin...
1702,GT_25K_P8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Treasury AY2002-03, AY2003-04 pooled cohort me...","Treasury AY2003-04, AY2004-05 pooled cohort me...","Treasury AY2004-05, AY2005-06 pooled cohort me...",NaN,NaN,NaN,8_yrs_after_entry.90th_percentile_earnings,earnings,90th percentile of earnings of students workin...
1703,COUNT_NWNE_P9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Treasury AY2000-01, AY2001-02 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,NaN,8_yrs_after_entry.std_deviation,earnings,Standard deviation of earnings of students wor...
1704,COUNT_WNE_P9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Treasury AY2000-01, AY2001-02 pooled cohort me...",NaN,NaN,NaN,NaN,NaN,NaN,8_yrs_after_entry.percent_greater_than_25000,earnings,"Share of students earning over $25,000/year (t..."

Because the 2014-2015 dataset is the most recent one containing information on earnings stratified by certain subgroups, as well as median earnings, I have decided to use that year's dataset for this project.

In [20]:
print(len(cohort_map[(cohort_map['dev_category']=='earnings') & 
               (cohort_map['MERGED_2014-15 datafile'].notnull())]))
print(len(cohort_map[(cohort_map['dev_category']=='earnings') & 
               (cohort_map['MERGED_2015-16 datafile'].notnull())]))

51
2

In [122]:
Data_1415 = pd.read_csv("MERGED2014_15_PP.csv", na_values=['PrivacySuppressed'],  dtype={'ZIP':str, 'ALIAS':str})

Now that we've imported the data, we will need to filter the dataset to only include colleges that offer bachelor's degrees.

In [340]:
no_law=Data_1415[~((Data_1415['INSTNM'].str.contains("of Law"))|(Data_1415['INSTNM'].str.contains("Law School")))]
no_grad=no_law[~(no_law['INSTNM'].str.contains('Graduate'))]
bach=no_grad[(no_grad['PREDDEG']==3)]
bach2=Data_1415[(Data_1415['PREDDEG']==3) & (Data_1415['INSTNM'].str.contains("Law School"))]
bach2
# len(highdeg_bach[['ICLEVEL','SCH_DEG','PREDDEG','HIGHDEG','INSTNM']])

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,D150_4_LOANNOPELL,C150_L4_LOANNOPELL,D150_L4_LOANNOPELL,C150_4_NOLOANNOPELL,D150_4_NOLOANNOPELL,C150_L4_NOLOANNOPELL,D150_L4_NOLOANNOPELL,GT_28K_P10,GT_28K_P8,GT_28K_P6
4268,244190,331301,3313,Widener University-Delaware Law School,Wilmington,DE,19803,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,0.791,0.762

the replace the column names with developer-friendly ones that are more readable.

In [207]:
devnames_data=cohort_map[cohort_map['MERGED_2014-15 datafile'].notnull()]['dev_name']
devnames_data=devnames_data.str.replace('percentile','pctl')
devnames_data=devnames_data.str.replace('_scores','')
devnames_data=devnames_data.str.replace('title_iv','tiv')
devnames_data=devnames_data.str.replace('yrs_after_entry','yrs_AE')
devnames_data=devnames_data.str.replace('working_not_enrolled','WNE')
devnames_data=devnames_data.str.replace('greater_than_','>')
devnames_data=devnames_data.str.replace('less_than_','<')
devnames_data=devnames_data.str.replace('percent_','pct')
devnames_data=devnames_data.str.replace('-plus','+')

# list(devnames_data)
# list(zip(['sat' in name for name in devnames_data],devnames_data))

In [28]:
# for col in Data_1415.columns:
#     print(col)
#     print(len(Data_1415[Data_1415[col].notnull()]))
#     #Data_1415[Data_1415['MD_EARN_WNE_P10'].notnull()]['MD_EARN_WNE_P10']

UNITID
7703
OPEID
7703
OPEID6
7703
INSTNM
7703
CITY
7703
STABBR
7703
ZIP
7703
ACCREDAGENCY
0
INSTURL
0
NPCURL
0
SCH_DEG
7597
HCM2
0
MAIN
7703
NUMBRANCH
7703
PREDDEG
7703
HIGHDEG
7703
CONTROL
7703
ST_FIPS
7703
REGION
7703
LOCALE
0
LOCALE2
0
LATITUDE
0
LONGITUDE
0
CCBASIC
0
CCUGPROF
0
CCSIZSET
0
HBCU
0
PBI
0
ANNHI
0
TRIBAL
0
AANAPII
0
HSI
0
NANTI
0
MENONLY
0
WOMENONLY
0
RELAFFIL
0
ADM_RATE
2196
ADM_RATE_ALL
2400
SATVR25
1196
SATVR75
1196
SATMT25
1209
SATMT75
1209
SATWR25
733
SATWR75
733
SATVRMID
1196
SATMTMID
1209
SATWRMID
733
ACTCM25
1257
ACTCM75
1257
ACTEN25
1109
ACTEN75
1109
ACTMT25
1111
ACTMT75
1111
ACTWR25
300
ACTWR75
300
ACTCMMID
1257
ACTENMID
1109
ACTMTMID
1111
ACTWRMID
300
SAT_AVG
1305
SAT_AVG_ALL
1410
PCIP01
6989
PCIP03
6989
PCIP04
6989
PCIP05
6989
PCIP09
6989
PCIP10
6989
PCIP11
6989
PCIP12
6989
PCIP13
6989
PCIP14
6989
PCIP15
6989
PCIP16
6989
PCIP19
6989
PCIP22
6989
PCIP23
6989
PCIP24
6989
PCIP25
6989
PCIP26
6989
PCIP27
6989
PCIP29
6989
PCIP30
6989
PCIP31
6989
PCIP38
6989
PCIP39
6989
PCIP40
6989
PCIP41
6989
PCIP42
6989
PCIP43
6989
PCIP44
6989
PCIP45
6989
PCIP46
6989
PCIP47
6989
PCIP48
6989
PCIP49
6989
PCIP50
6989
PCIP51
6989
PCIP52
6989
PCIP54
6989
CIP01CERT1
7282
CIP01CERT2
7282
CIP01ASSOC
7282
CIP01CERT4
7282
CIP01BACHL
7282
CIP03CERT1
7282
CIP03CERT2
7282
CIP03ASSOC
7282
CIP03CERT4
7282
CIP03BACHL
7282
CIP04CERT1
7282
CIP04CERT2
7282
CIP04ASSOC
7282
CIP04CERT4
7282
CIP04BACHL
7282
CIP05CERT1
7282
CIP05CERT2
7282
CIP05ASSOC
7282
CIP05CERT4
7282
CIP05BACHL
7282
CIP09CERT1
7282
CIP09CERT2
7282
CIP09ASSOC
7282
CIP09CERT4
7282
CIP09BACHL
7282
CIP10CERT1
7282
CIP10CERT2
7282
CIP10ASSOC
7282
CIP10CERT4
7282
CIP10BACHL
7282
CIP11CERT1
7282
CIP11CERT2
7282
CIP11ASSOC
7282
CIP11CERT4
7282
CIP11BACHL
7282
CIP12CERT1
7282
CIP12CERT2
7282
CIP12ASSOC
7282
CIP12CERT4
7282
CIP12BACHL
7282
CIP13CERT1
7282
CIP13CERT2
7282
CIP13ASSOC
7282
CIP13CERT4
7282
CIP13BACHL
7282
CIP14CERT1
7282
CIP14CERT2
7282
CIP14ASSOC
7282
CIP14CERT4
7282
CIP14BACHL
7282
CIP15CERT1
7282
CIP15CERT2
7282
CIP15ASSOC
7282
CIP15CERT4
7282
CIP15BACHL
7282
CIP16CERT1
7282
CIP16CERT2
7282
CIP16ASSOC
7282
CIP16CERT4
7282
CIP16BACHL
7282
CIP19CERT1
7282
CIP19CERT2
7282
CIP19ASSOC
7282
CIP19CERT4
7282
CIP19BACHL
7282
CIP22CERT1
7282
CIP22CERT2
7282
CIP22ASSOC
7282
CIP22CERT4
7282
CIP22BACHL
7282
CIP23CERT1
7282
CIP23CERT2
7282
CIP23ASSOC
7282
CIP23CERT4
7282
CIP23BACHL
7282
CIP24CERT1
7282
CIP24CERT2
7282
CIP24ASSOC
7282
CIP24CERT4
7282
CIP24BACHL
7282
CIP25CERT1
7282
CIP25CERT2
7282
CIP25ASSOC
7282
CIP25CERT4
7282
CIP25BACHL
7282
CIP26CERT1
7282
CIP26CERT2
7282
CIP26ASSOC
7282
CIP26CERT4
7282
CIP26BACHL
7282
CIP27CERT1
7282
CIP27CERT2
7282
CIP27ASSOC
7282
CIP27CERT4
7282
CIP27BACHL
7282
CIP29CERT1
7282
CIP29CERT2
7282
CIP29ASSOC
7282
CIP29CERT4
7282
CIP29BACHL
7282
CIP30CERT1
7282
CIP30CERT2
7282
CIP30ASSOC
7282
CIP30CERT4
7282
CIP30BACHL
7282
CIP31CERT1
7282
CIP31CERT2
7282
CIP31ASSOC
7282
CIP31CERT4
7282
CIP31BACHL
7282
CIP38CERT1
7282
CIP38CERT2
7282
CIP38ASSOC
7282
CIP38CERT4
7282
CIP38BACHL
7282
CIP39CERT1
7282
CIP39CERT2
7282
CIP39ASSOC
7282
CIP39CERT4
7282
CIP39BACHL
7282
CIP40CERT1
7282
CIP40CERT2
7282
CIP40ASSOC
7282
CIP40CERT4
7282
CIP40BACHL
7282
CIP41CERT1
7282
CIP41CERT2
7282
CIP41ASSOC
7282
CIP41CERT4
7282
CIP41BACHL
7282
CIP42CERT1
7282
CIP42CERT2
7282
CIP42ASSOC
7282
CIP42CERT4
7282
CIP42BACHL
7282
CIP43CERT1
7282
CIP43CERT2
7282
CIP43ASSOC
7282
CIP43CERT4
7282
CIP43BACHL
7282
CIP44CERT1
7282
CIP44CERT2
7282
CIP44ASSOC
7282
CIP44CERT4
7282
CIP44BACHL
7282
CIP45CERT1
7282
CIP45CERT2
7282
CIP45ASSOC
7282
CIP45CERT4
7282
CIP45BACHL
7282
CIP46CERT1
7282
CIP46CERT2
7282
CIP46ASSOC
7282
CIP46CERT4
7282
CIP46BACHL
7282
CIP47CERT1
7282
CIP47CERT2
7282
CIP47ASSOC
7282
CIP47CERT4
7282
CIP47BACHL
7282
CIP48CERT1
7282
CIP48CERT2
7282
CIP48ASSOC
7282
CIP48CERT4
7282
CIP48BACHL
7282
CIP49CERT1
7282
CIP49CERT2
7282
CIP49ASSOC
7282
CIP49CERT4
7282
CIP49BACHL
7282
CIP50CERT1
7282
CIP50CERT2
7282
CIP50ASSOC
7282
CIP50CERT4
7282
CIP50BACHL
7282
CIP51CERT1
7282
CIP51CERT2
7282
CIP51ASSOC
7282
CIP51CERT4
7282
CIP51BACHL
7282
CIP52CERT1
7282
CIP52CERT2
7282
CIP52ASSOC
7282
CIP52CERT4
7282
CIP52BACHL
7282
CIP54CERT1
7282
CIP54CERT2
7282
CIP54ASSOC
7282
CIP54CERT4
7282
CIP54BACHL
7282
DISTANCEONLY
7282
UGDS
6990
UG
0
UGDS_WHITE
6990
UGDS_BLACK
6990
UGDS_HISP
6990
UGDS_ASIAN
6990
UGDS_AIAN
6990
UGDS_NHPI
6990
UGDS_2MOR
6990
UGDS_NRA
6990
UGDS_UNKN
6990
UGDS_WHITENH
0
UGDS_BLACKNH
0
UGDS_API
0
UGDS_AIANOLD
0
UGDS_HISPOLD
0
UG_NRA
0
UG_UNKN
0
UG_WHITENH
0
UG_BLACKNH
0
UG_API
0
UG_AIANOLD
0
UG_HISPOLD
0
PPTUG_EF
6969
PPTUG_EF2
0
CURROPER
0
NPT4_PUB
1911
NPT4_PRIV
4688
NPT4_PROG
0
NPT4_OTHER
0
NPT41_PUB
1907
NPT42_PUB
1818
NPT43_PUB
1761
NPT44_PUB
1570
NPT45_PUB
1294
NPT41_PRIV
4636
NPT42_PRIV
3846
NPT43_PRIV
3443
NPT44_PRIV
2758
NPT45_PRIV
2245
NPT41_PROG
0
NPT42_PROG
0
NPT43_PROG
0
NPT44_PROG
0
NPT45_PROG
0
NPT41_OTHER
0
NPT42_OTHER
0
NPT43_OTHER
0
NPT44_OTHER
0
NPT45_OTHER
0
NPT4_048_PUB
1911
NPT4_048_PRIV
4665
NPT4_048_PROG
0
NPT4_048_OTHER
0
NPT4_3075_PUB
1835
NPT4_3075_PRIV
3991
NPT4_75UP_PUB
1587
NPT4_75UP_PRIV
2931
NPT4_3075_PROG
0
NPT4_3075_OTHER
0
NPT4_75UP_PROG
0
NPT4_75UP_OTHER
0
NUM4_PUB
1911
NUM4_PRIV
4696
NUM4_PROG
0
NUM4_OTHER
0
NUM41_PUB
1911
NUM42_PUB
1911
NUM43_PUB
1911
NUM44_PUB
1911
NUM45_PUB
1911
NUM41_PRIV
4694
NUM42_PRIV
4694
NUM43_PRIV
4694
NUM44_PRIV
4694
NUM45_PRIV
4694
NUM41_PROG
0
NUM42_PROG
0
NUM43_PROG
0
NUM44_PROG
0
NUM45_PROG
0
NUM41_OTHER
0
NUM42_OTHER
0
NUM43_OTHER
0
NUM44_OTHER
0
NUM45_OTHER
0
COSTT4_A
4030
COSTT4_P
2571
TUITIONFEE_IN
4385
TUITIONFEE_OUT
4183
TUITIONFEE_PROG
2786
TUITFTE
7270
INEXPFTE
7270
AVGFACSAL
4547
PFTFAC
4045
PCTPELL
6966
C150_4
2481
C150_L4
3929
C150_4_POOLED
0
C150_L4_POOLED
0
POOLYRS
0
PFTFTUG1_EF
6713
D150_4
2481
D150_L4
3929
D150_4_POOLED
0
D150_L4_POOLED
0
C150_4_WHITE
2362
C150_4_BLACK
2194
C150_4_HISP
2213
C150_4_ASIAN
1866
C150_4_AIAN
1563
C150_4_NHPI
448
C150_4_2MOR
936
C150_4_NRA
1492
C150_4_UNKN
1802
C150_4_WHITENH
0
C150_4_BLACKNH
0
C150_4_API
0
C150_4_AIANOLD
0
C150_4_HISPOLD
0
C150_L4_WHITE
2012
C150_L4_BLACK
1824
C150_L4_HISP
1801
C150_L4_ASIAN
1384
C150_L4_AIAN
1237
C150_L4_NHPI
731
C150_L4_2MOR
1304
C150_L4_NRA
611
C150_L4_UNKN
1337
C150_L4_WHITENH
0
C150_L4_BLACKNH
0
C150_L4_API
0
C150_L4_AIANOLD
0
C150_L4_HISPOLD
0
C200_4
2116
C200_L4
3783
D200_4
2116
D200_L4
3783
RET_FT4
2294
RET_FTL4
3843
RET_PT4
1413
RET_PTL4
2207
C200_4_POOLED
0
C200_L4_POOLED
0
POOLYRS200
0
D200_4_POOLED
0
D200_L4_POOLED
0
PCTFLOAN
6966
UG25ABV
0
CDR2
0
CDR3
6777
DEATH_YR2_RT
562
COMP_ORIG_YR2_RT
6440
COMP_4YR_TRANS_YR2_RT
1141
COMP_2YR_TRANS_YR2_RT
2997
WDRAW_ORIG_YR2_RT
5984
WDRAW_4YR_TRANS_YR2_RT
3890
WDRAW_2YR_TRANS_YR2_RT
4619
ENRL_ORIG_YR2_RT
4672
ENRL_4YR_TRANS_YR2_RT
3794
ENRL_2YR_TRANS_YR2_RT
4040
UNKN_ORIG_YR2_RT
3152
UNKN_4YR_TRANS_YR2_RT
622
UNKN_2YR_TRANS_YR2_RT
704
LO_INC_DEATH_YR2_RT
220
LO_INC_COMP_ORIG_YR2_RT
5438
LO_INC_COMP_4YR_TRANS_YR2_RT
544
LO_INC_COMP_2YR_TRANS_YR2_RT
1533
LO_INC_WDRAW_ORIG_YR2_RT
4831
LO_INC_WDRAW_4YR_TRANS_YR2_RT
2195
LO_INC_WDRAW_2YR_TRANS_YR2_RT
2715
LO_INC_ENRL_ORIG_YR2_RT
3786
LO_INC_ENRL_4YR_TRANS_YR2_RT
2813
LO_INC_ENRL_2YR_TRANS_YR2_RT
2257
LO_INC_UNKN_ORIG_YR2_RT
1097
LO_INC_UNKN_4YR_TRANS_YR2_RT
200
LO_INC_UNKN_2YR_TRANS_YR2_RT
96
MD_INC_DEATH_YR2_RT
0
MD_INC_COMP_ORIG_YR2_RT
3198
MD_INC_COMP_4YR_TRANS_YR2_RT
129
MD_INC_COMP_2YR_TRANS_YR2_RT
526
MD_INC_WDRAW_ORIG_YR2_RT
3123
MD_INC_WDRAW_4YR_TRANS_YR2_RT
1149
MD_INC_WDRAW_2YR_TRANS_YR2_RT
1452
MD_INC_ENRL_ORIG_YR2_RT
2834
MD_INC_ENRL_4YR_TRANS_YR2_RT
2050
MD_INC_ENRL_2YR_TRANS_YR2_RT
1135
MD_INC_UNKN_ORIG_YR2_RT
623
MD_INC_UNKN_4YR_TRANS_YR2_RT
7
MD_INC_UNKN_2YR_TRANS_YR2_RT
0
HI_INC_DEATH_YR2_RT
0
HI_INC_COMP_ORIG_YR2_RT
3183
HI_INC_COMP_4YR_TRANS_YR2_RT
127
HI_INC_COMP_2YR_TRANS_YR2_RT
484
HI_INC_WDRAW_ORIG_YR2_RT
3132
HI_INC_WDRAW_4YR_TRANS_YR2_RT
1142
HI_INC_WDRAW_2YR_TRANS_YR2_RT
1470
HI_INC_ENRL_ORIG_YR2_RT
2849
HI_INC_ENRL_4YR_TRANS_YR2_RT
2132
HI_INC_ENRL_2YR_TRANS_YR2_RT
1149
HI_INC_UNKN_ORIG_YR2_RT
758
HI_INC_UNKN_4YR_TRANS_YR2_RT
43
HI_INC_UNKN_2YR_TRANS_YR2_RT
0
DEP_DEATH_YR2_RT
15
DEP_COMP_ORIG_YR2_RT
5026
DEP_COMP_4YR_TRANS_YR2_RT
236
DEP_COMP_2YR_TRANS_YR2_RT
1581
DEP_WDRAW_ORIG_YR2_RT
4569
DEP_WDRAW_4YR_TRANS_YR2_RT
2077
DEP_WDRAW_2YR_TRANS_YR2_RT
2952
DEP_ENRL_ORIG_YR2_RT

3466
DEP_ENRL_4YR_TRANS_YR2_RT
2271
DEP_ENRL_2YR_TRANS_YR2_RT
2389
DEP_UNKN_ORIG_YR2_RT
1022
DEP_UNKN_4YR_TRANS_YR2_RT
143
DEP_UNKN_2YR_TRANS_YR2_RT
82
IND_DEATH_YR2_RT
15
IND_COMP_ORIG_YR2_RT
5026
IND_COMP_4YR_TRANS_YR2_RT
237
IND_COMP_2YR_TRANS_YR2_RT
1581
IND_WDRAW_ORIG_YR2_RT
4569
IND_WDRAW_4YR_TRANS_YR2_RT
2076
IND_WDRAW_2YR_TRANS_YR2_RT
2952
IND_ENRL_ORIG_YR2_RT
3466
IND_ENRL_4YR_TRANS_YR2_RT
2270
IND_ENRL_2YR_TRANS_YR2_RT
2389
IND_UNKN_ORIG_YR2_RT
1023
IND_UNKN_4YR_TRANS_YR2_RT
143
IND_UNKN_2YR_TRANS_YR2_RT
82
FEMALE_DEATH_YR2_RT
389
FEMALE_COMP_ORIG_YR2_RT
4601
FEMALE_COMP_4YR_TRANS_YR2_RT
525
FEMALE_COMP_2YR_TRANS_YR2_RT
1271
FEMALE_WDRAW_ORIG_YR2_RT
4445
FEMALE_WDRAW_4YR_TRANS_YR2_RT
2344
FEMALE_WDRAW_2YR_TRANS_YR2_RT
3019
FEMALE_ENRL_ORIG_YR2_RT
3597
FEMALE_ENRL_4YR_TRANS_YR2_RT
2877
FEMALE_ENRL_2YR_TRANS_YR2_RT
2203
FEMALE_UNKN_ORIG_YR2_RT
1627
FEMALE_UNKN_4YR_TRANS_YR2_RT
273
FEMALE_UNKN_2YR_TRANS_YR2_RT
132
MALE_DEATH_YR2_RT
389
MALE_COMP_ORIG_YR2_RT
4601
MALE_COMP_4YR_TRANS_YR2_RT
525
MALE_COMP_2YR_TRANS_YR2_RT
1269
MALE_WDRAW_ORIG_YR2_RT
4446
MALE_WDRAW_4YR_TRANS_YR2_RT
2342
MALE_WDRAW_2YR_TRANS_YR2_RT
3018
MALE_ENRL_ORIG_YR2_RT
3597
MALE_ENRL_4YR_TRANS_YR2_RT
2877
MALE_ENRL_2YR_TRANS_YR2_RT
2203
MALE_UNKN_ORIG_YR2_RT
1625
MALE_UNKN_4YR_TRANS_YR2_RT
273
MALE_UNKN_2YR_TRANS_YR2_RT
132
PELL_DEATH_YR2_RT
195
PELL_COMP_ORIG_YR2_RT
4071
PELL_COMP_4YR_TRANS_YR2_RT
408
PELL_COMP_2YR_TRANS_YR2_RT
890
PELL_WDRAW_ORIG_YR2_RT
3695
PELL_WDRAW_4YR_TRANS_YR2_RT
1659
PELL_WDRAW_2YR_TRANS_YR2_RT
2067
PELL_ENRL_ORIG_YR2_RT
3086
PELL_ENRL_4YR_TRANS_YR2_RT
2411
PELL_ENRL_2YR_TRANS_YR2_RT
1673
PELL_UNKN_ORIG_YR2_RT
811
PELL_UNKN_4YR_TRANS_YR2_RT
143
PELL_UNKN_2YR_TRANS_YR2_RT
12
NOPELL_DEATH_YR2_RT
195
NOPELL_COMP_ORIG_YR2_RT
4071
NOPELL_COMP_4YR_TRANS_YR2_RT
407
NOPELL_COMP_2YR_TRANS_YR2_RT
890
NOPELL_WDRAW_ORIG_YR2_RT
3695
NOPELL_WDRAW_4YR_TRANS_YR2_RT
1657
NOPELL_WDRAW_2YR_TRANS_YR2_RT
2067
NOPELL_ENRL_ORIG_YR2_RT
3086
NOPELL_ENRL_4YR_TRANS_YR2_RT
2411
NOPELL_ENRL_2YR_TRANS_YR2_RT
1673
NOPELL_UNKN_ORIG_YR2_RT
811
NOPELL_UNKN_4YR_TRANS_YR2_RT
143
NOPELL_UNKN_2YR_TRANS_YR2_RT
12
LOAN_DEATH_YR2_RT
54
LOAN_COMP_ORIG_YR2_RT
3230
LOAN_COMP_4YR_TRANS_YR2_RT
166
LOAN_COMP_2YR_TRANS_YR2_RT
1195
LOAN_WDRAW_ORIG_YR2_RT
3784
LOAN_WDRAW_4YR_TRANS_YR2_RT
1690
LOAN_WDRAW_2YR_TRANS_YR2_RT
2447
LOAN_ENRL_ORIG_YR2_RT
2440
LOAN_ENRL_4YR_TRANS_YR2_RT
1829
LOAN_ENRL_2YR_TRANS_YR2_RT
1912
LOAN_UNKN_ORIG_YR2_RT
1056
LOAN_UNKN_4YR_TRANS_YR2_RT
135
LOAN_UNKN_2YR_TRANS_YR2_RT
224
NOLOAN_DEATH_YR2_RT
54
NOLOAN_COMP_ORIG_YR2_RT
3230
NOLOAN_COMP_4YR_TRANS_YR2_RT
167
NOLOAN_COMP_2YR_TRANS_YR2_RT
1195
NOLOAN_WDRAW_ORIG_YR2_RT
3783
NOLOAN_WDRAW_4YR_TRANS_YR2_RT
1690
NOLOAN_WDRAW_2YR_TRANS_YR2_RT
2447
NOLOAN_ENRL_ORIG_YR2_RT
2440
NOLOAN_ENRL_4YR_TRANS_YR2_RT
1829
NOLOAN_ENRL_2YR_TRANS_YR2_RT
1912
NOLOAN_UNKN_ORIG_YR2_RT
1055
NOLOAN_UNKN_4YR_TRANS_YR2_RT
135
NOLOAN_UNKN_2YR_TRANS_YR2_RT
224
FIRSTGEN_DEATH_YR2_RT
427
FIRSTGEN_COMP_ORIG_YR2_RT
5448
FIRSTGEN_COMP_4YR_TRANS_YR2_RT
427
FIRSTGEN_COMP_2YR_TRANS_YR2_RT
1963
FIRSTGEN_WDRAW_ORIG_YR2_RT
5049
FIRSTGEN_WDRAW_4YR_TRANS_YR2_RT
2585
FIRSTGEN_WDRAW_2YR_TRANS_YR2_RT
3510
FIRSTGEN_ENRL_ORIG_YR2_RT
3958
FIRSTGEN_ENRL_4YR_TRANS_YR2_RT
2996
FIRSTGEN_ENRL_2YR_TRANS_YR2_RT
2882
FIRSTGEN_UNKN_ORIG_YR2_RT
1587
FIRSTGEN_UNKN_4YR_TRANS_YR2_RT
290
FIRSTGEN_UNKN_2YR_TRANS_YR2_RT
381
NOT1STGEN_DEATH_YR2_RT
427
NOT1STGEN_COMP_ORIG_YR2_RT
5449
NOT1STGEN_COMP_4YR_TRANS_YR2_RT
428
NOT1STGEN_COMP_2YR_TRANS_YR2_RT
1964
NOT1STGEN_WDRAW_ORIG_YR2_RT
5049
NOT1STGEN_WDRAW_4YR_TRANS_YR2_RT
2584
NOT1STGEN_WDRAW_2YR_TRANS_YR2_RT
3510
NOT1STGEN_ENRL_ORIG_YR2_RT
3958
NOT1STGEN_ENRL_4YR_TRANS_YR2_RT
2995
NOT1STGEN_ENRL_2YR_TRANS_YR2_RT
2881
NOT1STGEN_UNKN_ORIG_YR2_RT
1588
NOT1STGEN_UNKN_4YR_TRANS_YR2_RT
290
NOT1STGEN_UNKN_2YR_TRANS_YR2_RT
382
DEATH_YR3_RT
701
COMP_ORIG_YR3_RT
6600
COMP_4YR_TRANS_YR3_RT
2498
COMP_2YR_TRANS_YR3_RT
3705
WDRAW_ORIG_YR3_RT
5966
WDRAW_4YR_TRANS_YR3_RT
4364
WDRAW_2YR_TRANS_YR3_RT
4900
ENRL_ORIG_YR3_RT
3876
ENRL_4YR_TRANS_YR3_RT
3879
ENRL_2YR_TRANS_YR3_RT
3738
UNKN_ORIG_YR3_RT
4390
UNKN_4YR_TRANS_YR3_RT
833
UNKN_2YR_TRANS_YR3_RT
1045
LO_INC_DEATH_YR3_RT
230
LO_INC_COMP_ORIG_YR3_RT
5758
LO_INC_COMP_4YR_TRANS_YR3_RT
1273
LO_INC_COMP_2YR_TRANS_YR3_RT
2115
LO_INC_WDRAW_ORIG_YR3_RT
4705
LO_INC_WDRAW_4YR_TRANS_YR3_RT
2644
LO_INC_WDRAW_2YR_TRANS_YR3_RT
3095
LO_INC_ENRL_ORIG_YR3_RT
2887
LO_INC_ENRL_4YR_TRANS_YR3_RT
2599
LO_INC_ENRL_2YR_TRANS_YR3_RT
2048
LO_INC_UNKN_ORIG_YR3_RT
2726
LO_INC_UNKN_4YR_TRANS_YR3_RT
277
LO_INC_UNKN_2YR_TRANS_YR3_RT
271
MD_INC_DEATH_YR3_RT
0
MD_INC_COMP_ORIG_YR3_RT
3632
MD_INC_COMP_4YR_TRANS_YR3_RT
801
MD_INC_COMP_2YR_TRANS_YR3_RT
1125
MD_INC_WDRAW_ORIG_YR3_RT
3117
MD_INC_WDRAW_4YR_TRANS_YR3_RT
1439
MD_INC_WDRAW_2YR_TRANS_YR3_RT
1637
MD_INC_ENRL_ORIG_YR3_RT
2106
MD_INC_ENRL_4YR_TRANS_YR3_RT
1890
MD_INC_ENRL_2YR_TRANS_YR3_RT
1000
MD_INC_UNKN_ORIG_YR3_RT
601
MD_INC_UNKN_4YR_TRANS_YR3_RT
27
MD_INC_UNKN_2YR_TRANS_YR3_RT
2
HI_INC_DEATH_YR3_RT
0
HI_INC_COMP_ORIG_YR3_RT
3607
HI_INC_COMP_4YR_TRANS_YR3_RT
820
HI_INC_COMP_2YR_TRANS_YR3_RT
1065
HI_INC_WDRAW_ORIG_YR3_RT
3107
HI_INC_WDRAW_4YR_TRANS_YR3_RT
1425
HI_INC_WDRAW_2YR_TRANS_YR3_RT
1624
HI_INC_ENRL_ORIG_YR3_RT
2132
HI_INC_ENRL_4YR_TRANS_YR3_RT
1955
HI_INC_ENRL_2YR_TRANS_YR3_RT
947
HI_INC_UNKN_ORIG_YR3_RT
594
HI_INC_UNKN_4YR_TRANS_YR3_RT
51
HI_INC_UNKN_2YR_TRANS_YR3_RT
0
DEP_DEATH_YR3_RT
78
DEP_COMP_ORIG_YR3_RT
5232
DEP_COMP_4YR_TRANS_YR3_RT
960
DEP_COMP_2YR_TRANS_YR3_RT
2183
DEP_WDRAW_ORIG_YR3_RT
4602
DEP_WDRAW_4YR_TRANS_YR3_RT
2578
DEP_WDRAW_2YR_TRANS_YR3_RT
3329
DEP_ENRL_ORIG_YR3_RT
2768
DEP_ENRL_4YR_TRANS_YR3_RT
2281
DEP_ENRL_2YR_TRANS_YR3_RT
2209
DEP_UNKN_ORIG_YR3_RT
2802
DEP_UNKN_4YR_TRANS_YR3_RT
243
DEP_UNKN_2YR_TRANS_YR3_RT
317
IND_DEATH_YR3_RT
78
IND_COMP_ORIG_YR3_RT
5232
IND_COMP_4YR_TRANS_YR3_RT
958
IND_COMP_2YR_TRANS_YR3_RT
2180
IND_WDRAW_ORIG_YR3_RT
4602
IND_WDRAW_4YR_TRANS_YR3_RT
2577
IND_WDRAW_2YR_TRANS_YR3_RT
3329
IND_ENRL_ORIG_YR3_RT
2768
IND_ENRL_4YR_TRANS_YR3_RT
2278
IND_ENRL_2YR_TRANS_YR3_RT
2209
IND_UNKN_ORIG_YR3_RT
2801
IND_UNKN_4YR_TRANS_YR3_RT
243
IND_UNKN_2YR_TRANS_YR3_RT
317
FEMALE_DEATH_YR3_RT
443
FEMALE_COMP_ORIG_YR3_RT
4976
FEMALE_COMP_4YR_TRANS_YR3_RT
1356
FEMALE_COMP_2YR_TRANS_YR3_RT
1898
FEMALE_WDRAW_ORIG_YR3_RT
4488
FEMALE_WDRAW_4YR_TRANS_YR3_RT
2804
FEMALE_WDRAW_2YR_TRANS_YR3_RT
3382
FEMALE_ENRL_ORIG_YR3_RT
2964
FEMALE_ENRL_4YR_TRANS_YR3_RT
2826
FEMALE_ENRL_2YR_TRANS_YR3_RT
1941
FEMALE_UNKN_ORIG_YR3_RT
2996
FEMALE_UNKN_4YR_TRANS_YR3_RT
456
FEMALE_UNKN_2YR_TRANS_YR3_RT
404
MALE_DEATH_YR3_RT
443
MALE_COMP_ORIG_YR3_RT
4976
MALE_COMP_4YR_TRANS_YR3_RT
1346
MALE_COMP_2YR_TRANS_YR3_RT
1895
MALE_WDRAW_ORIG_YR3_RT
4488
MALE_WDRAW_4YR_TRANS_YR3_RT
2804
MALE_WDRAW_2YR_TRANS_YR3_RT
3382
MALE_ENRL_ORIG_YR3_RT
2964
MALE_ENRL_4YR_TRANS_YR3_RT
2826
MALE_ENRL_2YR_TRANS_YR3_RT
1942
MALE_UNKN_ORIG_YR3_RT
2997
MALE_UNKN_4YR_TRANS_YR3_RT
455
MALE_UNKN_2YR_TRANS_YR3_RT
403
PELL_DEATH_YR3_RT
79
PELL_COMP_ORIG_YR3_RT
4375
PELL_COMP_4YR_TRANS_YR3_RT
1255
PELL_COMP_2YR_TRANS_YR3_RT
1467
PELL_WDRAW_ORIG_YR3_RT
3684
PELL_WDRAW_4YR_TRANS_YR3_RT
1993
PELL_WDRAW_2YR_TRANS_YR3_RT
2245
PELL_ENRL_ORIG_YR3_RT
2239
PELL_ENRL_4YR_TRANS_YR3_RT
2316
PELL_ENRL_2YR_TRANS_YR3_RT
1359
PELL_UNKN_ORIG_YR3_RT
786
PELL_UNKN_4YR_TRANS_YR3_RT
111
PELL_UNKN_2YR_TRANS_YR3_RT
232
NOPELL_DEATH_YR3_RT
79
NOPELL_COMP_ORIG_YR3_RT
4375
NOPELL_COMP_4YR_TRANS_YR3_RT
1235
NOPELL_COMP_2YR_TRANS_YR3_RT
1464
NOPELL_WDRAW_ORIG_YR3_RT
3684
NOPELL_WDRAW_4YR_TRANS_YR3_RT
1993
NOPELL_WDRAW_2YR_TRANS_YR3_RT
2245
NOPELL_ENRL_ORIG_YR3_RT
2239
NOPELL_ENRL_4YR_TRANS_YR3_RT
2316
NOPELL_ENRL_2YR_TRANS_YR3_RT
1356
NOPELL_UNKN_ORIG_YR3_RT
786
NOPELL_UNKN_4YR_TRANS_YR3_RT
111
NOPELL_UNKN_2YR_TRANS_YR3_RT
232
LOAN_DEATH_YR3_RT
68
LOAN_COMP_ORIG_YR3_RT
3469
LOAN_COMP_4YR_TRANS_YR3_RT
839
LOAN_COMP_2YR_TRANS_YR3_RT
1778
LOAN_WDRAW_ORIG_YR3_RT
3498
LOAN_WDRAW_4YR_TRANS_YR3_RT
2048
LOAN_WDRAW_2YR_TRANS_YR3_RT
2647
LOAN_ENRL_ORIG_YR3_RT
1824
LOAN_ENRL_4YR_TRANS_YR3_RT
1931
LOAN_ENRL_2YR_TRANS_YR3_RT
1675
LOAN_UNKN_ORIG_YR3_RT
1853
LOAN_UNKN_4YR_TRANS_YR3_RT
227
LOAN_UNKN_2YR_TRANS_YR3_RT
331
NOLOAN_DEATH_YR3_RT
68
NOLOAN_COMP_ORIG_YR3_RT
3469
NOLOAN_COMP_4YR_TRANS_YR3_RT
845
NOLOAN_COMP_2YR_TRANS_YR3_RT
1775
NOLOAN_WDRAW_ORIG_YR3_RT
3498
NOLOAN_WDRAW_4YR_TRANS_YR3_RT
2049
NOLOAN_WDRAW_2YR_TRANS_YR3_RT

2647
NOLOAN_ENRL_ORIG_YR3_RT
1824
NOLOAN_ENRL_4YR_TRANS_YR3_RT
1931
NOLOAN_ENRL_2YR_TRANS_YR3_RT
1672
NOLOAN_UNKN_ORIG_YR3_RT
1862
NOLOAN_UNKN_4YR_TRANS_YR3_RT
225
NOLOAN_UNKN_2YR_TRANS_YR3_RT
298
FIRSTGEN_DEATH_YR3_RT
456
FIRSTGEN_COMP_ORIG_YR3_RT
5802
FIRSTGEN_COMP_4YR_TRANS_YR3_RT
1304
FIRSTGEN_COMP_2YR_TRANS_YR3_RT
2604
FIRSTGEN_WDRAW_ORIG_YR3_RT
5076
FIRSTGEN_WDRAW_4YR_TRANS_YR3_RT
3191
FIRSTGEN_WDRAW_2YR_TRANS_YR3_RT
3901
FIRSTGEN_ENRL_ORIG_YR3_RT
3140
FIRSTGEN_ENRL_4YR_TRANS_YR3_RT
2915
FIRSTGEN_ENRL_2YR_TRANS_YR3_RT
2535
FIRSTGEN_UNKN_ORIG_YR3_RT
3324
FIRSTGEN_UNKN_4YR_TRANS_YR3_RT
469
FIRSTGEN_UNKN_2YR_TRANS_YR3_RT
516
NOT1STGEN_DEATH_YR3_RT
456
NOT1STGEN_COMP_ORIG_YR3_RT
5802
NOT1STGEN_COMP_4YR_TRANS_YR3_RT
1304
NOT1STGEN_COMP_2YR_TRANS_YR3_RT
2607
NOT1STGEN_WDRAW_ORIG_YR3_RT
5078
NOT1STGEN_WDRAW_4YR_TRANS_YR3_RT
3193
NOT1STGEN_WDRAW_2YR_TRANS_YR3_RT
3901
NOT1STGEN_ENRL_ORIG_YR3_RT
3140
NOT1STGEN_ENRL_4YR_TRANS_YR3_RT
2915
NOT1STGEN_ENRL_2YR_TRANS_YR3_RT
2533
NOT1STGEN_UNKN_ORIG_YR3_RT
3324
NOT1STGEN_UNKN_4YR_TRANS_YR3_RT
469
NOT1STGEN_UNKN_2YR_TRANS_YR3_RT
516
DEATH_YR4_RT
746
COMP_ORIG_YR4_RT
6492
COMP_4YR_TRANS_YR4_RT
3364
COMP_2YR_TRANS_YR4_RT
4114
WDRAW_ORIG_YR4_RT
5817
WDRAW_4YR_TRANS_YR4_RT
4531
WDRAW_2YR_TRANS_YR4_RT
5060
ENRL_ORIG_YR4_RT
3125
ENRL_4YR_TRANS_YR4_RT
3848
ENRL_2YR_TRANS_YR4_RT
3435
UNKN_ORIG_YR4_RT
4679
UNKN_4YR_TRANS_YR4_RT
1030
UNKN_2YR_TRANS_YR4_RT
1613
LO_INC_DEATH_YR4_RT
288
LO_INC_COMP_ORIG_YR4_RT
5692
LO_INC_COMP_4YR_TRANS_YR4_RT
2214
LO_INC_COMP_2YR_TRANS_YR4_RT
2523
LO_INC_WDRAW_ORIG_YR4_RT
4615
LO_INC_WDRAW_4YR_TRANS_YR4_RT
2981
LO_INC_WDRAW_2YR_TRANS_YR4_RT
3180
LO_INC_ENRL_ORIG_YR4_RT
2086
LO_INC_ENRL_4YR_TRANS_YR4_RT
2449
LO_INC_ENRL_2YR_TRANS_YR4_RT
1869
LO_INC_UNKN_ORIG_YR4_RT
2947
LO_INC_UNKN_4YR_TRANS_YR4_RT
550
LO_INC_UNKN_2YR_TRANS_YR4_RT
444
MD_INC_DEATH_YR4_RT
39
MD_INC_COMP_ORIG_YR4_RT
3650
MD_INC_COMP_4YR_TRANS_YR4_RT
1744
MD_INC_COMP_2YR_TRANS_YR4_RT
1248
MD_INC_WDRAW_ORIG_YR4_RT
3083
MD_INC_WDRAW_4YR_TRANS_YR4_RT
1890
MD_INC_WDRAW_2YR_TRANS_YR4_RT
1898
MD_INC_ENRL_ORIG_YR4_RT
1335
MD_INC_ENRL_4YR_TRANS_YR4_RT
1533
MD_INC_ENRL_2YR_TRANS_YR4_RT
863
MD_INC_UNKN_ORIG_YR4_RT
522
MD_INC_UNKN_4YR_TRANS_YR4_RT
18
MD_INC_UNKN_2YR_TRANS_YR4_RT
36
HI_INC_DEATH_YR4_RT
38
HI_INC_COMP_ORIG_YR4_RT
3633
HI_INC_COMP_4YR_TRANS_YR4_RT
1809
HI_INC_COMP_2YR_TRANS_YR4_RT
1186
HI_INC_WDRAW_ORIG_YR4_RT
3063
HI_INC_WDRAW_4YR_TRANS_YR4_RT
1839
HI_INC_WDRAW_2YR_TRANS_YR4_RT
1844
HI_INC_ENRL_ORIG_YR4_RT
1300
HI_INC_ENRL_4YR_TRANS_YR4_RT
1525
HI_INC_ENRL_2YR_TRANS_YR4_RT
807
HI_INC_UNKN_ORIG_YR4_RT
447
HI_INC_UNKN_4YR_TRANS_YR4_RT
22
HI_INC_UNKN_2YR_TRANS_YR4_RT
25
DEP_DEATH_YR4_RT
253
DEP_COMP_ORIG_YR4_RT
5150
DEP_COMP_4YR_TRANS_YR4_RT
1732
DEP_COMP_2YR_TRANS_YR4_RT
2577
DEP_WDRAW_ORIG_YR4_RT
4538
DEP_WDRAW_4YR_TRANS_YR4_RT
2943
DEP_WDRAW_2YR_TRANS_YR4_RT
3411
DEP_ENRL_ORIG_YR4_RT
2022
DEP_ENRL_4YR_TRANS_YR4_RT
2233
DEP_ENRL_2YR_TRANS_YR4_RT
1936
DEP_UNKN_ORIG_YR4_RT
2995
DEP_UNKN_4YR_TRANS_YR4_RT
495
DEP_UNKN_2YR_TRANS_YR4_RT
588
IND_DEATH_YR4_RT
253
IND_COMP_ORIG_YR4_RT
5150
IND_COMP_4YR_TRANS_YR4_RT
1731
IND_COMP_2YR_TRANS_YR4_RT
2576
IND_WDRAW_ORIG_YR4_RT
4538
IND_WDRAW_4YR_TRANS_YR4_RT
2943
IND_WDRAW_2YR_TRANS_YR4_RT
3410
IND_ENRL_ORIG_YR4_RT
2020
IND_ENRL_4YR_TRANS_YR4_RT
2233
IND_ENRL_2YR_TRANS_YR4_RT
1934
IND_UNKN_ORIG_YR4_RT
2995
IND_UNKN_4YR_TRANS_YR4_RT
495
IND_UNKN_2YR_TRANS_YR4_RT
586
FEMALE_DEATH_YR4_RT
508
FEMALE_COMP_ORIG_YR4_RT
4957
FEMALE_COMP_4YR_TRANS_YR4_RT
2393
FEMALE_COMP_2YR_TRANS_YR4_RT
2195
FEMALE_WDRAW_ORIG_YR4_RT
4435
FEMALE_WDRAW_4YR_TRANS_YR4_RT
3221
FEMALE_WDRAW_2YR_TRANS_YR4_RT
3496
FEMALE_ENRL_ORIG_YR4_RT
2104
FEMALE_ENRL_4YR_TRANS_YR4_RT
2503
FEMALE_ENRL_2YR_TRANS_YR4_RT
1732
FEMALE_UNKN_ORIG_YR4_RT
3098
FEMALE_UNKN_4YR_TRANS_YR4_RT
598
FEMALE_UNKN_2YR_TRANS_YR4_RT
675
MALE_DEATH_YR4_RT
475
MALE_COMP_ORIG_YR4_RT
4956
MALE_COMP_4YR_TRANS_YR4_RT
2393
MALE_COMP_2YR_TRANS_YR4_RT
2195
MALE_WDRAW_ORIG_YR4_RT
4435
MALE_WDRAW_4YR_TRANS_YR4_RT
3221
MALE_WDRAW_2YR_TRANS_YR4_RT
3496
MALE_ENRL_ORIG_YR4_RT
2102
MALE_ENRL_4YR_TRANS_YR4_RT
2503
MALE_ENRL_2YR_TRANS_YR4_RT
1730
MALE_UNKN_ORIG_YR4_RT
3099
MALE_UNKN_4YR_TRANS_YR4_RT
598
MALE_UNKN_2YR_TRANS_YR4_RT
670
PELL_DEATH_YR4_RT
239
PELL_COMP_ORIG_YR4_RT
4403
PELL_COMP_4YR_TRANS_YR4_RT
2131
PELL_COMP_2YR_TRANS_YR4_RT
1671
PELL_WDRAW_ORIG_YR4_RT
3675
PELL_WDRAW_4YR_TRANS_YR4_RT
2366
PELL_WDRAW_2YR_TRANS_YR4_RT
2452
PELL_ENRL_ORIG_YR4_RT
1295
PELL_ENRL_4YR_TRANS_YR4_RT
1878
PELL_ENRL_2YR_TRANS_YR4_RT
1207
PELL_UNKN_ORIG_YR4_RT
781
PELL_UNKN_4YR_TRANS_YR4_RT
398
PELL_UNKN_2YR_TRANS_YR4_RT
207
NOPELL_DEATH_YR4_RT
239
NOPELL_COMP_ORIG_YR4_RT
4403
NOPELL_COMP_4YR_TRANS_YR4_RT
2130
NOPELL_COMP_2YR_TRANS_YR4_RT
1671
NOPELL_WDRAW_ORIG_YR4_RT
3675
NOPELL_WDRAW_4YR_TRANS_YR4_RT
2365
NOPELL_WDRAW_2YR_TRANS_YR4_RT
2452
NOPELL_ENRL_ORIG_YR4_RT
1295
NOPELL_ENRL_4YR_TRANS_YR4_RT
1878
NOPELL_ENRL_2YR_TRANS_YR4_RT
1204
NOPELL_UNKN_ORIG_YR4_RT
781
NOPELL_UNKN_4YR_TRANS_YR4_RT
400
NOPELL_UNKN_2YR_TRANS_YR4_RT
207
LOAN_DEATH_YR4_RT
198
LOAN_COMP_ORIG_YR4_RT
3326
LOAN_COMP_4YR_TRANS_YR4_RT
1572
LOAN_COMP_2YR_TRANS_YR4_RT
2011
LOAN_WDRAW_ORIG_YR4_RT
3268
LOAN_WDRAW_4YR_TRANS_YR4_RT
2309
LOAN_WDRAW_2YR_TRANS_YR4_RT
2668
LOAN_ENRL_ORIG_YR4_RT
1223
LOAN_ENRL_4YR_TRANS_YR4_RT
1781
LOAN_ENRL_2YR_TRANS_YR4_RT
1521
LOAN_UNKN_ORIG_YR4_RT
1936
LOAN_UNKN_4YR_TRANS_YR4_RT
456
LOAN_UNKN_2YR_TRANS_YR4_RT
586
NOLOAN_DEATH_YR4_RT
198
NOLOAN_COMP_ORIG_YR4_RT
3326
NOLOAN_COMP_4YR_TRANS_YR4_RT
1573
NOLOAN_COMP_2YR_TRANS_YR4_RT
2010
NOLOAN_WDRAW_ORIG_YR4_RT
3268
NOLOAN_WDRAW_4YR_TRANS_YR4_RT
2309
NOLOAN_WDRAW_2YR_TRANS_YR4_RT
2668
NOLOAN_ENRL_ORIG_YR4_RT
1224
NOLOAN_ENRL_4YR_TRANS_YR4_RT
1781
NOLOAN_ENRL_2YR_TRANS_YR4_RT
1523
NOLOAN_UNKN_ORIG_YR4_RT
1936
NOLOAN_UNKN_4YR_TRANS_YR4_RT
458
NOLOAN_UNKN_2YR_TRANS_YR4_RT
587
FIRSTGEN_DEATH_YR4_RT
511
FIRSTGEN_COMP_ORIG_YR4_RT
5750
FIRSTGEN_COMP_4YR_TRANS_YR4_RT
2487
FIRSTGEN_COMP_2YR_TRANS_YR4_RT
2987
FIRSTGEN_WDRAW_ORIG_YR4_RT
5022
FIRSTGEN_WDRAW_4YR_TRANS_YR4_RT
3625
FIRSTGEN_WDRAW_2YR_TRANS_YR4_RT
4044
FIRSTGEN_ENRL_ORIG_YR4_RT
2258
FIRSTGEN_ENRL_4YR_TRANS_YR4_RT
2714
FIRSTGEN_ENRL_2YR_TRANS_YR4_RT
2270
FIRSTGEN_UNKN_ORIG_YR4_RT
3596
FIRSTGEN_UNKN_4YR_TRANS_YR4_RT
624
FIRSTGEN_UNKN_2YR_TRANS_YR4_RT
910
NOT1STGEN_DEATH_YR4_RT
511
NOT1STGEN_COMP_ORIG_YR4_RT
5750
NOT1STGEN_COMP_4YR_TRANS_YR4_RT
2488
NOT1STGEN_COMP_2YR_TRANS_YR4_RT
2986
NOT1STGEN_WDRAW_ORIG_YR4_RT
5022
NOT1STGEN_WDRAW_4YR_TRANS_YR4_RT
3625
NOT1STGEN_WDRAW_2YR_TRANS_YR4_RT
4045
NOT1STGEN_ENRL_ORIG_YR4_RT
2258
NOT1STGEN_ENRL_4YR_TRANS_YR4_RT
2714
NOT1STGEN_ENRL_2YR_TRANS_YR4_RT
2269
NOT1STGEN_UNKN_ORIG_YR4_RT
3596
NOT1STGEN_UNKN_4YR_TRANS_YR4_RT
624
NOT1STGEN_UNKN_2YR_TRANS_YR4_RT
911
DEATH_YR6_RT
812
COMP_ORIG_YR6_RT
6160
COMP_4YR_TRANS_YR6_RT
3685
COMP_2YR_TRANS_YR6_RT
4239
WDRAW_ORIG_YR6_RT
5456
WDRAW_4YR_TRANS_YR6_RT
4615
WDRAW_2YR_TRANS_YR6_RT
4848
ENRL_ORIG_YR6_RT
1757
ENRL_4YR_TRANS_YR6_RT
3111
ENRL_2YR_TRANS_YR6_RT
2796
UNKN_ORIG_YR6_RT
4613
UNKN_4YR_TRANS_YR6_RT
1314
UNKN_2YR_TRANS_YR6_RT
2149
LO_INC_DEATH_YR6_RT
365
LO_INC_COMP_ORIG_YR6_RT
5392
LO_INC_COMP_4YR_TRANS_YR6_RT
2626
LO_INC_COMP_2YR_TRANS_YR6_RT
2422
LO_INC_WDRAW_ORIG_YR6_RT
4256
LO_INC_WDRAW_4YR_TRANS_YR6_RT
3060
LO_INC_WDRAW_2YR_TRANS_YR6_RT
3083
LO_INC_ENRL_ORIG_YR6_RT
887
LO_INC_ENRL_4YR_TRANS_YR6_RT
1653
LO_INC_ENRL_2YR_TRANS_YR6_RT
1381
LO_INC_UNKN_ORIG_YR6_RT
2840
LO_INC_UNKN_4YR_TRANS_YR6_RT
490
LO_INC_UNKN_2YR_TRANS_YR6_RT
545
MD_INC_DEATH_YR6_RT
63
MD_INC_COMP_ORIG_YR6_RT
3664
MD_INC_COMP_4YR_TRANS_YR6_RT
1992
MD_INC_COMP_2YR_TRANS_YR6_RT
1278
MD_INC_WDRAW_ORIG_YR6_RT
2981
MD_INC_WDRAW_4YR_TRANS_YR6_RT
1977
MD_INC_WDRAW_2YR_TRANS_YR6_RT
1884
MD_INC_ENRL_ORIG_YR6_RT
471
MD_INC_ENRL_4YR_TRANS_YR6_RT
835
MD_INC_ENRL_2YR_TRANS_YR6_RT
365
MD_INC_UNKN_ORIG_YR6_RT
473
MD_INC_UNKN_4YR_TRANS_YR6_RT
125
MD_INC_UNKN_2YR_TRANS_YR6_RT
102
HI_INC_DEATH_YR6_RT
39
HI_INC_COMP_ORIG_YR6_RT
3658
HI_INC_COMP_4YR_TRANS_YR6_RT
2091
HI_INC_COMP_2YR_TRANS_YR6_RT
1242
HI_INC_WDRAW_ORIG_YR6_RT
2920
HI_INC_WDRAW_4YR_TRANS_YR6_RT
1986
HI_INC_WDRAW_2YR_TRANS_YR6_RT
1868
HI_INC_ENRL_ORIG_YR6_RT
456
HI_INC_ENRL_4YR_TRANS_YR6_RT
805
HI_INC_ENRL_2YR_TRANS_YR6_RT
331
HI_INC_UNKN_ORIG_YR6_RT
419
HI_INC_UNKN_4YR_TRANS_YR6_RT
113
HI_INC_UNKN_2YR_TRANS_YR6_RT
63
DEP_DEATH_YR6_RT
66
DEP_COMP_ORIG_YR6_RT

4876
DEP_COMP_4YR_TRANS_YR6_RT
2266
DEP_COMP_2YR_TRANS_YR6_RT
2537
DEP_WDRAW_ORIG_YR6_RT
4246
DEP_WDRAW_4YR_TRANS_YR6_RT
3041
DEP_WDRAW_2YR_TRANS_YR6_RT
3237
DEP_ENRL_ORIG_YR6_RT
816
DEP_ENRL_4YR_TRANS_YR6_RT
1694
DEP_ENRL_2YR_TRANS_YR6_RT
1445
DEP_UNKN_ORIG_YR6_RT
2850
DEP_UNKN_4YR_TRANS_YR6_RT
428
DEP_UNKN_2YR_TRANS_YR6_RT
588
IND_DEATH_YR6_RT
66
IND_COMP_ORIG_YR6_RT
4876
IND_COMP_4YR_TRANS_YR6_RT
2266
IND_COMP_2YR_TRANS_YR6_RT
2537
IND_WDRAW_ORIG_YR6_RT
4246
IND_WDRAW_4YR_TRANS_YR6_RT
3041
IND_WDRAW_2YR_TRANS_YR6_RT
3237
IND_ENRL_ORIG_YR6_RT
814
IND_ENRL_4YR_TRANS_YR6_RT
1694
IND_ENRL_2YR_TRANS_YR6_RT
1444
IND_UNKN_ORIG_YR6_RT
2850
IND_UNKN_4YR_TRANS_YR6_RT
427
IND_UNKN_2YR_TRANS_YR6_RT
587
FEMALE_DEATH_YR6_RT
244
FEMALE_COMP_ORIG_YR6_RT
4664
FEMALE_COMP_4YR_TRANS_YR6_RT
2764
FEMALE_COMP_2YR_TRANS_YR6_RT
2137
FEMALE_WDRAW_ORIG_YR6_RT
4198
FEMALE_WDRAW_4YR_TRANS_YR6_RT
3330
FEMALE_WDRAW_2YR_TRANS_YR6_RT
3308
FEMALE_ENRL_ORIG_YR6_RT
825
FEMALE_ENRL_4YR_TRANS_YR6_RT
1756
FEMALE_ENRL_2YR_TRANS_YR6_RT
1226
FEMALE_UNKN_ORIG_YR6_RT
2982
FEMALE_UNKN_4YR_TRANS_YR6_RT
632
FEMALE_UNKN_2YR_TRANS_YR6_RT
802
MALE_DEATH_YR6_RT
244
MALE_COMP_ORIG_YR6_RT
4664
MALE_COMP_4YR_TRANS_YR6_RT
2764
MALE_COMP_2YR_TRANS_YR6_RT
2137
MALE_WDRAW_ORIG_YR6_RT
4198
MALE_WDRAW_4YR_TRANS_YR6_RT
3330
MALE_WDRAW_2YR_TRANS_YR6_RT
3308
MALE_ENRL_ORIG_YR6_RT
824
MALE_ENRL_4YR_TRANS_YR6_RT
1756
MALE_ENRL_2YR_TRANS_YR6_RT
1225
MALE_UNKN_ORIG_YR6_RT
2982
MALE_UNKN_4YR_TRANS_YR6_RT
630
MALE_UNKN_2YR_TRANS_YR6_RT
801
PELL_DEATH_YR6_RT
168
PELL_COMP_ORIG_YR6_RT
4541
PELL_COMP_4YR_TRANS_YR6_RT
2638
PELL_COMP_2YR_TRANS_YR6_RT
2047
PELL_WDRAW_ORIG_YR6_RT
3878
PELL_WDRAW_4YR_TRANS_YR6_RT
2724
PELL_WDRAW_2YR_TRANS_YR6_RT
2697
PELL_ENRL_ORIG_YR6_RT
331
PELL_ENRL_4YR_TRANS_YR6_RT
1367
PELL_ENRL_2YR_TRANS_YR6_RT
1084
PELL_UNKN_ORIG_YR6_RT
964
PELL_UNKN_4YR_TRANS_YR6_RT
326
PELL_UNKN_2YR_TRANS_YR6_RT
110
NOPELL_DEATH_YR6_RT
168
NOPELL_COMP_ORIG_YR6_RT
4541
NOPELL_COMP_4YR_TRANS_YR6_RT
2638
NOPELL_COMP_2YR_TRANS_YR6_RT
2047
NOPELL_WDRAW_ORIG_YR6_RT
3878
NOPELL_WDRAW_4YR_TRANS_YR6_RT
2724
NOPELL_WDRAW_2YR_TRANS_YR6_RT
2697
NOPELL_ENRL_ORIG_YR6_RT
331
NOPELL_ENRL_4YR_TRANS_YR6_RT
1367
NOPELL_ENRL_2YR_TRANS_YR6_RT
1084
NOPELL_UNKN_ORIG_YR6_RT
964
NOPELL_UNKN_4YR_TRANS_YR6_RT
326
NOPELL_UNKN_2YR_TRANS_YR6_RT
110
LOAN_DEATH_YR6_RT
39
LOAN_COMP_ORIG_YR6_RT
2523
LOAN_COMP_4YR_TRANS_YR6_RT
1596
LOAN_COMP_2YR_TRANS_YR6_RT
1806
LOAN_WDRAW_ORIG_YR6_RT
2602
LOAN_WDRAW_4YR_TRANS_YR6_RT
2282
LOAN_WDRAW_2YR_TRANS_YR6_RT
2185
LOAN_ENRL_ORIG_YR6_RT
305
LOAN_ENRL_4YR_TRANS_YR6_RT
1073
LOAN_ENRL_2YR_TRANS_YR6_RT
863
LOAN_UNKN_ORIG_YR6_RT
1839
LOAN_UNKN_4YR_TRANS_YR6_RT
287
LOAN_UNKN_2YR_TRANS_YR6_RT
576
NOLOAN_DEATH_YR6_RT
39
NOLOAN_COMP_ORIG_YR6_RT
2523
NOLOAN_COMP_4YR_TRANS_YR6_RT
1602
NOLOAN_COMP_2YR_TRANS_YR6_RT
1806
NOLOAN_WDRAW_ORIG_YR6_RT
2602
NOLOAN_WDRAW_4YR_TRANS_YR6_RT
2282
NOLOAN_WDRAW_2YR_TRANS_YR6_RT
2185
NOLOAN_ENRL_ORIG_YR6_RT
308
NOLOAN_ENRL_4YR_TRANS_YR6_RT
1073
NOLOAN_ENRL_2YR_TRANS_YR6_RT
860
NOLOAN_UNKN_ORIG_YR6_RT
1839
NOLOAN_UNKN_4YR_TRANS_YR6_RT
286
NOLOAN_UNKN_2YR_TRANS_YR6_RT
578
FIRSTGEN_DEATH_YR6_RT
491
FIRSTGEN_COMP_ORIG_YR6_RT
5427
FIRSTGEN_COMP_4YR_TRANS_YR6_RT
2943
FIRSTGEN_COMP_2YR_TRANS_YR6_RT
3041
FIRSTGEN_WDRAW_ORIG_YR6_RT
4670
FIRSTGEN_WDRAW_4YR_TRANS_YR6_RT
3769
FIRSTGEN_WDRAW_2YR_TRANS_YR6_RT
3838
FIRSTGEN_ENRL_ORIG_YR6_RT
1208
FIRSTGEN_ENRL_4YR_TRANS_YR6_RT
2024
FIRSTGEN_ENRL_2YR_TRANS_YR6_RT
1697
FIRSTGEN_UNKN_ORIG_YR6_RT
3458
FIRSTGEN_UNKN_4YR_TRANS_YR6_RT
767
FIRSTGEN_UNKN_2YR_TRANS_YR6_RT
1096
NOT1STGEN_DEATH_YR6_RT
491
NOT1STGEN_COMP_ORIG_YR6_RT
5427
NOT1STGEN_COMP_4YR_TRANS_YR6_RT
2943
NOT1STGEN_COMP_2YR_TRANS_YR6_RT
3041
NOT1STGEN_WDRAW_ORIG_YR6_RT
4670
NOT1STGEN_WDRAW_4YR_TRANS_YR6_RT
3769
NOT1STGEN_WDRAW_2YR_TRANS_YR6_RT
3838
NOT1STGEN_ENRL_ORIG_YR6_RT
1207
NOT1STGEN_ENRL_4YR_TRANS_YR6_RT
2024
NOT1STGEN_ENRL_2YR_TRANS_YR6_RT
1699
NOT1STGEN_UNKN_ORIG_YR6_RT
3458
NOT1STGEN_UNKN_4YR_TRANS_YR6_RT
767
NOT1STGEN_UNKN_2YR_TRANS_YR6_RT
1096
DEATH_YR8_RT
684
COMP_ORIG_YR8_RT
5837
COMP_4YR_TRANS_YR8_RT
3792
COMP_2YR_TRANS_YR8_RT
3967
WDRAW_ORIG_YR8_RT
5121
WDRAW_4YR_TRANS_YR8_RT
4515
WDRAW_2YR_TRANS_YR8_RT
4538
ENRL_ORIG_YR8_RT
905
ENRL_4YR_TRANS_YR8_RT
2511
ENRL_2YR_TRANS_YR8_RT
2141
UNKN_ORIG_YR8_RT
4613
UNKN_4YR_TRANS_YR8_RT
1727
UNKN_2YR_TRANS_YR8_RT
1947
LO_INC_DEATH_YR8_RT
209
LO_INC_COMP_ORIG_YR8_RT
4962
LO_INC_COMP_4YR_TRANS_YR8_RT
2678
LO_INC_COMP_2YR_TRANS_YR8_RT
2196
LO_INC_WDRAW_ORIG_YR8_RT
3932
LO_INC_WDRAW_4YR_TRANS_YR8_RT
2826
LO_INC_WDRAW_2YR_TRANS_YR8_RT
2651
LO_INC_ENRL_ORIG_YR8_RT
387
LO_INC_ENRL_4YR_TRANS_YR8_RT
1298
LO_INC_ENRL_2YR_TRANS_YR8_RT
797
LO_INC_UNKN_ORIG_YR8_RT
2515
LO_INC_UNKN_4YR_TRANS_YR8_RT
559
LO_INC_UNKN_2YR_TRANS_YR8_RT
411
MD_INC_DEATH_YR8_RT
38
MD_INC_COMP_ORIG_YR8_RT
3366
MD_INC_COMP_4YR_TRANS_YR8_RT
1856
MD_INC_COMP_2YR_TRANS_YR8_RT
814
MD_INC_WDRAW_ORIG_YR8_RT
2704
MD_INC_WDRAW_4YR_TRANS_YR8_RT
1763
MD_INC_WDRAW_2YR_TRANS_YR8_RT
1488
MD_INC_ENRL_ORIG_YR8_RT
221
MD_INC_ENRL_4YR_TRANS_YR8_RT
480
MD_INC_ENRL_2YR_TRANS_YR8_RT
203
MD_INC_UNKN_ORIG_YR8_RT
346
MD_INC_UNKN_4YR_TRANS_YR8_RT
148
MD_INC_UNKN_2YR_TRANS_YR8_RT
71
HI_INC_DEATH_YR8_RT
38
HI_INC_COMP_ORIG_YR8_RT
3291
HI_INC_COMP_4YR_TRANS_YR8_RT
1825
HI_INC_COMP_2YR_TRANS_YR8_RT
746
HI_INC_WDRAW_ORIG_YR8_RT
2658
HI_INC_WDRAW_4YR_TRANS_YR8_RT
1727
HI_INC_WDRAW_2YR_TRANS_YR8_RT
1400
HI_INC_ENRL_ORIG_YR8_RT
169
HI_INC_ENRL_4YR_TRANS_YR8_RT
446
HI_INC_ENRL_2YR_TRANS_YR8_RT
165
HI_INC_UNKN_ORIG_YR8_RT
329
HI_INC_UNKN_4YR_TRANS_YR8_RT
124
HI_INC_UNKN_2YR_TRANS_YR8_RT
63
DEP_DEATH_YR8_RT
75
DEP_COMP_ORIG_YR8_RT
4527
DEP_COMP_4YR_TRANS_YR8_RT
2404
DEP_COMP_2YR_TRANS_YR8_RT
2395
DEP_WDRAW_ORIG_YR8_RT
3930
DEP_WDRAW_4YR_TRANS_YR8_RT
2867
DEP_WDRAW_2YR_TRANS_YR8_RT
2873
DEP_ENRL_ORIG_YR8_RT
250
DEP_ENRL_4YR_TRANS_YR8_RT
1228
DEP_ENRL_2YR_TRANS_YR8_RT
861
DEP_UNKN_ORIG_YR8_RT
2673
DEP_UNKN_4YR_TRANS_YR8_RT
499
DEP_UNKN_2YR_TRANS_YR8_RT
738
IND_DEATH_YR8_RT
75
IND_COMP_ORIG_YR8_RT
4527
IND_COMP_4YR_TRANS_YR8_RT
2404
IND_COMP_2YR_TRANS_YR8_RT
2395
IND_WDRAW_ORIG_YR8_RT
3929
IND_WDRAW_4YR_TRANS_YR8_RT
2867
IND_WDRAW_2YR_TRANS_YR8_RT
2873
IND_ENRL_ORIG_YR8_RT
250
IND_ENRL_4YR_TRANS_YR8_RT
1228
IND_ENRL_2YR_TRANS_YR8_RT
863
IND_UNKN_ORIG_YR8_RT
2673
IND_UNKN_4YR_TRANS_YR8_RT
500
IND_UNKN_2YR_TRANS_YR8_RT
738
FEMALE_DEATH_YR8_RT
179
FEMALE_COMP_ORIG_YR8_RT
4273
FEMALE_COMP_4YR_TRANS_YR8_RT
2791
FEMALE_COMP_2YR_TRANS_YR8_RT
1844
FEMALE_WDRAW_ORIG_YR8_RT
3795
FEMALE_WDRAW_4YR_TRANS_YR8_RT
3074
FEMALE_WDRAW_2YR_TRANS_YR8_RT
2824
FEMALE_ENRL_ORIG_YR8_RT
319
FEMALE_ENRL_4YR_TRANS_YR8_RT
1257
FEMALE_ENRL_2YR_TRANS_YR8_RT
713
FEMALE_UNKN_ORIG_YR8_RT
2810
FEMALE_UNKN_4YR_TRANS_YR8_RT
693
FEMALE_UNKN_2YR_TRANS_YR8_RT
730
MALE_DEATH_YR8_RT
179
MALE_COMP_ORIG_YR8_RT
4273
MALE_COMP_4YR_TRANS_YR8_RT
2791
MALE_COMP_2YR_TRANS_YR8_RT
1844
MALE_WDRAW_ORIG_YR8_RT
3795
MALE_WDRAW_4YR_TRANS_YR8_RT
3074
MALE_WDRAW_2YR_TRANS_YR8_RT
2824
MALE_ENRL_ORIG_YR8_RT
314
MALE_ENRL_4YR_TRANS_YR8_RT
1257
MALE_ENRL_2YR_TRANS_YR8_RT
713
MALE_UNKN_ORIG_YR8_RT
2810
MALE_UNKN_4YR_TRANS_YR8_RT
687
MALE_UNKN_2YR_TRANS_YR8_RT
730
PELL_DEATH_YR8_RT
117
PELL_COMP_ORIG_YR8_RT
4393
PELL_COMP_4YR_TRANS_YR8_RT
2622
PELL_COMP_2YR_TRANS_YR8_RT
1874
PELL_WDRAW_ORIG_YR8_RT
3698
PELL_WDRAW_4YR_TRANS_YR8_RT
2638
PELL_WDRAW_2YR_TRANS_YR8_RT
2419
PELL_ENRL_ORIG_YR8_RT
192
PELL_ENRL_4YR_TRANS_YR8_RT
1060
PELL_ENRL_2YR_TRANS_YR8_RT
621
PELL_UNKN_ORIG_YR8_RT
1004
PELL_UNKN_4YR_TRANS_YR8_RT
342
PELL_UNKN_2YR_TRANS_YR8_RT
113
NOPELL_DEATH_YR8_RT
117
NOPELL_COMP_ORIG_YR8_RT
4393
NOPELL_COMP_4YR_TRANS_YR8_RT
2622
NOPELL_COMP_2YR_TRANS_YR8_RT
1874
NOPELL_WDRAW_ORIG_YR8_RT
3698
NOPELL_WDRAW_4YR_TRANS_YR8_RT
2638
NOPELL_WDRAW_2YR_TRANS_YR8_RT
2419
NOPELL_ENRL_ORIG_YR8_RT
192
NOPELL_ENRL_4YR_TRANS_YR8_RT
1060
NOPELL_ENRL_2YR_TRANS_YR8_RT
620
NOPELL_UNKN_ORIG_YR8_RT
1004
NOPELL_UNKN_4YR_TRANS_YR8_RT
342
NOPELL_UNKN_2YR_TRANS_YR8_RT
113
LOAN_DEATH_YR8_RT
0
LOAN_COMP_ORIG_YR8_RT
1478
LOAN_COMP_4YR_TRANS_YR8_RT
1433
LOAN_COMP_2YR_TRANS_YR8_RT
1416
LOAN_WDRAW_ORIG_YR8_RT
2084
LOAN_WDRAW_4YR_TRANS_YR8_RT
1982
LOAN_WDRAW_2YR_TRANS_YR8_RT
1788
LOAN_ENRL_ORIG_YR8_RT
73
LOAN_ENRL_4YR_TRANS_YR8_RT
638
LOAN_ENRL_2YR_TRANS_YR8_RT
407
LOAN_UNKN_ORIG_YR8_RT
1740
LOAN_UNKN_4YR_TRANS_YR8_RT
372
LOAN_UNKN_2YR_TRANS_YR8_RT
475
NOLOAN_DEATH_YR8_RT
0
NOLOAN_COMP_ORIG_YR8_RT
1478
NOLOAN_COMP_4YR_TRANS_YR8_RT
1433
NOLOAN_COMP_2YR_TRANS_YR8_RT
1416
NOLOAN_WDRAW_ORIG_YR8_RT
2084
NOLOAN_WDRAW_4YR_TRANS_YR8_RT
1982
NOLOAN_WDRAW_2YR_TRANS_YR8_RT
1788
NOLOAN_ENRL_ORIG_YR8_RT
78
NOLOAN_ENRL_4YR_TRANS_YR8_RT
638
NOLOAN_ENRL_2YR_TRANS_YR8_RT
404
NOLOAN_UNKN_ORIG_YR8_RT
1740
NOLOAN_UNKN_4YR_TRANS_YR8_RT
374
NOLOAN_UNKN_2YR_TRANS_YR8_RT

475
FIRSTGEN_DEATH_YR8_RT
208
FIRSTGEN_COMP_ORIG_YR8_RT
5077
FIRSTGEN_COMP_4YR_TRANS_YR8_RT
2942
FIRSTGEN_COMP_2YR_TRANS_YR8_RT
2872
FIRSTGEN_WDRAW_ORIG_YR8_RT
4389
FIRSTGEN_WDRAW_4YR_TRANS_YR8_RT
3567
FIRSTGEN_WDRAW_2YR_TRANS_YR8_RT
3477
FIRSTGEN_ENRL_ORIG_YR8_RT
397
FIRSTGEN_ENRL_4YR_TRANS_YR8_RT
1481
FIRSTGEN_ENRL_2YR_TRANS_YR8_RT
1080
FIRSTGEN_UNKN_ORIG_YR8_RT
3293
FIRSTGEN_UNKN_4YR_TRANS_YR8_RT
824
FIRSTGEN_UNKN_2YR_TRANS_YR8_RT
974
NOT1STGEN_DEATH_YR8_RT
208
NOT1STGEN_COMP_ORIG_YR8_RT
5077
NOT1STGEN_COMP_4YR_TRANS_YR8_RT
2942
NOT1STGEN_COMP_2YR_TRANS_YR8_RT
2872
NOT1STGEN_WDRAW_ORIG_YR8_RT
4389
NOT1STGEN_WDRAW_4YR_TRANS_YR8_RT
3567
NOT1STGEN_WDRAW_2YR_TRANS_YR8_RT
3477
NOT1STGEN_ENRL_ORIG_YR8_RT
397
NOT1STGEN_ENRL_4YR_TRANS_YR8_RT
1481
NOT1STGEN_ENRL_2YR_TRANS_YR8_RT
1079
NOT1STGEN_UNKN_ORIG_YR8_RT
3293
NOT1STGEN_UNKN_4YR_TRANS_YR8_RT
823
NOT1STGEN_UNKN_2YR_TRANS_YR8_RT
972
RPY_1YR_RT
0
COMPL_RPY_1YR_RT
0
NONCOM_RPY_1YR_RT
0
LO_INC_RPY_1YR_RT
0
MD_INC_RPY_1YR_RT
0
HI_INC_RPY_1YR_RT
0
DEP_RPY_1YR_RT
0
IND_RPY_1YR_RT
0
PELL_RPY_1YR_RT
0
NOPELL_RPY_1YR_RT
0
FEMALE_RPY_1YR_RT
0
MALE_RPY_1YR_RT
0
FIRSTGEN_RPY_1YR_RT
0
NOTFIRSTGEN_RPY_1YR_RT
0
RPY_3YR_RT
6260
COMPL_RPY_3YR_RT
5396
NONCOM_RPY_3YR_RT
5396
LO_INC_RPY_3YR_RT
5928
MD_INC_RPY_3YR_RT
4661
HI_INC_RPY_3YR_RT
4633
DEP_RPY_3YR_RT
5358
IND_RPY_3YR_RT
5358
PELL_RPY_3YR_RT
5377
NOPELL_RPY_3YR_RT
5377
FEMALE_RPY_3YR_RT
4907
MALE_RPY_3YR_RT
4907
FIRSTGEN_RPY_3YR_RT
5757
NOTFIRSTGEN_RPY_3YR_RT
5757
RPY_5YR_RT
5945
COMPL_RPY_5YR_RT
5042
NONCOM_RPY_5YR_RT
5042
LO_INC_RPY_5YR_RT
5599
MD_INC_RPY_5YR_RT
4289
HI_INC_RPY_5YR_RT
4241
DEP_RPY_5YR_RT
5055
IND_RPY_5YR_RT
5055
PELL_RPY_5YR_RT
5169
NOPELL_RPY_5YR_RT
5169
FEMALE_RPY_5YR_RT
4649
MALE_RPY_5YR_RT
4649
FIRSTGEN_RPY_5YR_RT
5454
NOTFIRSTGEN_RPY_5YR_RT
5454
RPY_7YR_RT
5720
COMPL_RPY_7YR_RT
4678
NONCOM_RPY_7YR_RT
4678
LO_INC_RPY_7YR_RT
5336
MD_INC_RPY_7YR_RT
3604
HI_INC_RPY_7YR_RT
3517
DEP_RPY_7YR_RT
4795
IND_RPY_7YR_RT
4795
PELL_RPY_7YR_RT
4816
NOPELL_RPY_7YR_RT
4816
FEMALE_RPY_7YR_RT
4460
MALE_RPY_7YR_RT
4460
FIRSTGEN_RPY_7YR_RT
5182
NOTFIRSTGEN_RPY_7YR_RT
5182
INC_PCT_LO
7057
DEP_STAT_PCT_IND
6967
DEP_INC_PCT_LO
5735
IND_INC_PCT_LO
5735
PAR_ED_PCT_1STGEN
6626
INC_PCT_M1
6358
INC_PCT_M2
5720
INC_PCT_H1
4959
INC_PCT_H2
4933
DEP_INC_PCT_M1
4684
DEP_INC_PCT_M2
3794
DEP_INC_PCT_H1
2273
DEP_INC_PCT_H2
2243
IND_INC_PCT_M1
4684
IND_INC_PCT_M2
3793
IND_INC_PCT_H1
2274
IND_INC_PCT_H2
2243
PAR_ED_PCT_MS
5144
PAR_ED_PCT_HS
5152
PAR_ED_PCT_PS
6626
APPL_SCH_PCT_GE2
6572
APPL_SCH_PCT_GE3
5739
APPL_SCH_PCT_GE4
5165
APPL_SCH_PCT_GE5
5317
DEP_INC_AVG
6985
IND_INC_AVG
6985
OVERALL_YR2_N
7249
LO_INC_YR2_N
6566
MD_INC_YR2_N
5227
HI_INC_YR2_N
5215
DEP_YR2_N
6558
IND_YR2_N
6558
FEMALE_YR2_N
5919
MALE_YR2_N
5919
PELL_YR2_N
5673
NOPELL_YR2_N
5673
LOAN_YR2_N
5314
NOLOAN_YR2_N
5314
FIRSTGEN_YR2_N
6933
NOT1STGEN_YR2_N
6933
OVERALL_YR3_N
7187
LO_INC_YR3_N
6553
MD_INC_YR3_N
5219
HI_INC_YR3_N
5189
DEP_YR3_N
6523
IND_YR3_N
6523
FEMALE_YR3_N
5984
MALE_YR3_N
5984
PELL_YR3_N
5671
NOPELL_YR3_N
5671
LOAN_YR3_N
5317
NOLOAN_YR3_N
5317
FIRSTGEN_YR3_N
6907
NOT1STGEN_YR3_N
6907
OVERALL_YR4_N
7123
LO_INC_YR4_N
6526
MD_INC_YR4_N
5168
HI_INC_YR4_N
5159
DEP_YR4_N
6470
IND_YR4_N
6470
FEMALE_YR4_N
6005
MALE_YR4_N
6005
PELL_YR4_N
5629
NOPELL_YR4_N
5629
LOAN_YR4_N
5300
NOLOAN_YR4_N
5300
FIRSTGEN_YR4_N
6836
NOT1STGEN_YR4_N
6836
OVERALL_YR6_N
6820
LO_INC_YR6_N
6209
MD_INC_YR6_N
5008
HI_INC_YR6_N
4988
DEP_YR6_N
6174
IND_YR6_N
6174
FEMALE_YR6_N
5699
MALE_YR6_N
5699
PELL_YR6_N
5608
NOPELL_YR6_N
5608
LOAN_YR6_N
4901
NOLOAN_YR6_N
4901
FIRSTGEN_YR6_N
6555
NOT1STGEN_YR6_N
6555
OVERALL_YR8_N
6670
LO_INC_YR8_N
5953
MD_INC_YR8_N
4651
HI_INC_YR8_N
4631
DEP_YR8_N
5987
IND_YR8_N
5987
FEMALE_YR8_N
5489
MALE_YR8_N
5489
PELL_YR8_N
5433
NOPELL_YR8_N
5433
LOAN_YR8_N
4559
NOLOAN_YR8_N
4559
FIRSTGEN_YR8_N
6367
NOT1STGEN_YR8_N
6367
DEBT_MDN
6699
GRAD_DEBT_MDN
6284
WDRAW_DEBT_MDN
6108
LO_INC_DEBT_MDN
6152
MD_INC_DEBT_MDN
5186
HI_INC_DEBT_MDN
5185
DEP_DEBT_MDN
6038
IND_DEBT_MDN
6038
PELL_DEBT_MDN
5710
NOPELL_DEBT_MDN
5710
FEMALE_DEBT_MDN
5454
MALE_DEBT_MDN
5454
FIRSTGEN_DEBT_MDN
6340
NOTFIRSTGEN_DEBT_MDN
6340
DEBT_N
6799
GRAD_DEBT_N
6371
WDRAW_DEBT_N
6369
LO_INC_DEBT_N
6453
MD_INC_DEBT_N
5687
HI_INC_DEBT_N
5675
DEP_DEBT_N
6378
IND_DEBT_N
6378
PELL_DEBT_N
6087
NOPELL_DEBT_N
6087
FEMALE_DEBT_N
5843
MALE_DEBT_N
5843
FIRSTGEN_DEBT_N
6601
NOTFIRSTGEN_DEBT_N
6601
GRAD_DEBT_MDN10YR
0
CUML_DEBT_N
6799
CUML_DEBT_P90
5954
CUML_DEBT_P75
6496
CUML_DEBT_P25
6496
CUML_DEBT_P10
5954
INC_N
7392
DEP_INC_N
6985
IND_INC_N
6985
DEP_STAT_N
7392
PAR_ED_N
6660
APPL_SCH_N
7392
REPAY_DT_MDN
5074
SEPAR_DT_MDN
5955
REPAY_DT_N
5546
SEPAR_DT_N
5978
RPY_1YR_N
0
COMPL_RPY_1YR_N
0
NONCOM_RPY_1YR_N
0
LO_INC_RPY_1YR_N
0
MD_INC_RPY_1YR_N
0
HI_INC_RPY_1YR_N
0
DEP_RPY_1YR_N
0
IND_RPY_1YR_N
0
PELL_RPY_1YR_N
0
NOPELL_RPY_1YR_N
0
FEMALE_RPY_1YR_N
0
MALE_RPY_1YR_N
0
FIRSTGEN_RPY_1YR_N
0
NOTFIRSTGEN_RPY_1YR_N
0
RPY_3YR_N
6499
COMPL_RPY_3YR_N
6113
NONCOM_RPY_3YR_N
6113
LO_INC_RPY_3YR_N
6181
MD_INC_RPY_3YR_N
5525
HI_INC_RPY_3YR_N
5511
DEP_RPY_3YR_N
6086
IND_RPY_3YR_N
6086
PELL_RPY_3YR_N
5940
NOPELL_RPY_3YR_N
5940
FEMALE_RPY_3YR_N
5681
MALE_RPY_3YR_N
5681
FIRSTGEN_RPY_3YR_N
6289
NOTFIRSTGEN_RPY_3YR_N
6289
RPY_5YR_N
6167
COMPL_RPY_5YR_N
5767
NONCOM_RPY_5YR_N
5767
LO_INC_RPY_5YR_N
5882
MD_INC_RPY_5YR_N
5184
HI_INC_RPY_5YR_N
5164
DEP_RPY_5YR_N
5783
IND_RPY_5YR_N
5783
PELL_RPY_5YR_N
5768
NOPELL_RPY_5YR_N
5768
FEMALE_RPY_5YR_N
5356
MALE_RPY_5YR_N
5356
FIRSTGEN_RPY_5YR_N
5978
NOTFIRSTGEN_RPY_5YR_N
5978
RPY_7YR_N
5939
COMPL_RPY_7YR_N
5536
NONCOM_RPY_7YR_N
5536
LO_INC_RPY_7YR_N
5648
MD_INC_RPY_7YR_N
4847
HI_INC_RPY_7YR_N
4821
DEP_RPY_7YR_N
5554
IND_RPY_7YR_N
5554
PELL_RPY_7YR_N
5595
NOPELL_RPY_7YR_N
5595
FEMALE_RPY_7YR_N
5105
MALE_RPY_7YR_N
5105
FIRSTGEN_RPY_7YR_N
5758
NOTFIRSTGEN_RPY_7YR_N
5758
COUNT_ED
0
LOAN_EVER
5978
PELL_EVER
6094
AGE_ENTRY
7392
AGE_ENTRY_SQ
0
AGEGE24
0
FEMALE
6364
MARRIED
6581
DEPENDENT
6967
VETERAN
3331
FIRST_GEN
6626
FAMINC
7392
MD_FAMINC
7392
FAMINC_IND
6985
LNFAMINC
0
LNFAMINC_IND
0
PCT_WHITE
0
PCT_BLACK
0
PCT_ASIAN
0
PCT_HISPANIC
0
PCT_BA
0
PCT_GRAD_PROF
0
PCT_BORN_US
0
MEDIAN_HH_INC
0
POVERTY_RATE
0
UNEMP_RATE
0
LN_MEDIAN_HH_INC
0
FSEND_COUNT
0
FSEND_1
0
FSEND_2
0
FSEND_3
0
FSEND_4
0
FSEND_5
0
COUNT_NWNE_P10
5492
COUNT_WNE_P10
5492
MN_EARN_WNE_P10
6062
MD_EARN_WNE_P10
6062
PCT10_EARN_WNE_P10
0
PCT25_EARN_WNE_P10
5523
PCT75_EARN_WNE_P10
5523
PCT90_EARN_WNE_P10
0
SD_EARN_WNE_P10
6062
COUNT_WNE_INC1_P10
5526
COUNT_WNE_INC2_P10
4459
COUNT_WNE_INC3_P10
4440
COUNT_WNE_INDEP0_INC1_P10
0
COUNT_WNE_INDEP0_P10
5330
COUNT_WNE_INDEP1_P10
5330
COUNT_WNE_MALE0_P10
4877
COUNT_WNE_MALE1_P10
4877
GT_25K_P10
0
MN_EARN_WNE_INC1_P10
4990
MN_EARN_WNE_INC2_P10
3703
MN_EARN_WNE_INC3_P10
3729
MN_EARN_WNE_INDEP0_INC1_P10
0
MN_EARN_WNE_INDEP0_P10
4653
MN_EARN_WNE_INDEP1_P10
4653
MN_EARN_WNE_MALE0_P10
4448
MN_EARN_WNE_MALE1_P10
4448
COUNT_NWNE_P6
5418
COUNT_WNE_P6
5418
MN_EARN_WNE_P6
6304
MD_EARN_WNE_P6
6304
PCT10_EARN_WNE_P6
0
PCT25_EARN_WNE_P6
5721
PCT75_EARN_WNE_P6
5721
PCT90_EARN_WNE_P6
0
SD_EARN_WNE_P6
6304
COUNT_WNE_INC1_P6
5697
COUNT_WNE_INC2_P6
4749
COUNT_WNE_INC3_P6
4742
COUNT_WNE_INDEP0_INC1_P6
0
COUNT_WNE_INDEP0_P6
5579
COUNT_WNE_INDEP1_P6
5579
COUNT_WNE_MALE0_P6
5189
COUNT_WNE_MALE1_P6
5189
GT_25K_P6
0
MN_EARN_WNE_INC1_P6
5218
MN_EARN_WNE_INC2_P6
4029
MN_EARN_WNE_INC3_P6
4072
MN_EARN_WNE_INDEP0_INC1_P6
0
MN_EARN_WNE_INDEP0_P6
4886
MN_EARN_WNE_INDEP1_P6
4886
MN_EARN_WNE_MALE0_P6
4771
MN_EARN_WNE_MALE1_P6
4771
COUNT_NWNE_P7
0
COUNT_WNE_P7
0
MN_EARN_WNE_P7
0
SD_EARN_WNE_P7
0
GT_25K_P7
0
COUNT_NWNE_P8
5366
COUNT_WNE_P8
5366
MN_EARN_WNE_P8
6145
MD_EARN_WNE_P8
6145
PCT10_EARN_WNE_P8
0
PCT25_EARN_WNE_P8
5585
PCT75_EARN_WNE_P8
5585
PCT90_EARN_WNE_P8
0
SD_EARN_WNE_P8
6145
GT_25K_P8
0
COUNT_NWNE_P9
0
COUNT_WNE_P9
0
MN_EARN_WNE_P9
0
SD_EARN_WNE_P9
0
GT_25K_P9
0
DEBT_MDN_SUPP
6588
GRAD_DEBT_MDN_SUPP
6155
GRAD_DEBT_MDN10YR_SUPP
0
RPY_3YR_RT_SUPP
6220
LO_INC_RPY_3YR_RT_SUPP
5885
MD_INC_RPY_3YR_RT_SUPP
4655
HI_INC_RPY_3YR_RT_SUPP
4478
COMPL_RPY_3YR_RT_SUPP
5365
NONCOM_RPY_3YR_RT_SUPP
5348
DEP_RPY_3YR_RT_SUPP
5283
IND_RPY_3YR_RT_SUPP
5310
PELL_RPY_3YR_RT_SUPP
5373
NOPELL_RPY_3YR_RT_SUPP
5269
FEMALE_RPY_3YR_RT_SUPP
4894
MALE_RPY_3YR_RT_SUPP
4850
FIRSTGEN_RPY_3YR_RT_SUPP

5716
NOTFIRSTGEN_RPY_3YR_RT_SUPP
5720
C150_L4_POOLED_SUPP
0
C150_4_POOLED_SUPP
0
C200_L4_POOLED_SUPP
0
C200_4_POOLED_SUPP
0
ALIAS
2480
C100_4
2192
D100_4
2193
C100_L4
3927
D100_L4
3927
TRANS_4
2481
DTRANS_4
2481
TRANS_L4
3929
DTRANS_L4
3929
ICLEVEL
7703
UGDS_MEN
6990
UGDS_WOMEN
6990
CDR3_DENOM
6777
CDR2_DENOM
0
T4APPROVALDATE
0
D150_4_WHITE
2481
D150_4_BLACK
2481
D150_4_HISP
2481
D150_4_ASIAN
2481
D150_4_AIAN
2481
D150_4_NHPI
2481
D150_4_2MOR
2481
D150_4_NRA
2481
D150_4_UNKN
2481
D150_4_WHITENH
0
D150_4_BLACKNH
0
D150_4_API
0
D150_4_AIANOLD
0
D150_4_HISPOLD
0
D150_L4_WHITE
2056
D150_L4_BLACK
2056
D150_L4_HISP
2056
D150_L4_ASIAN
2056
D150_L4_AIAN
2056
D150_L4_NHPI
2056
D150_L4_2MOR
2056
D150_L4_NRA
2056
D150_L4_UNKN
2056
D150_L4_WHITENH
0
D150_L4_BLACKNH
0
D150_L4_API
0
D150_L4_AIANOLD
0
D150_L4_HISPOLD
0
D_PCTPELL_PCTFLOAN
6978
OPENADMP
6781
UGNONDS
6984
GRADS
2134
ACCREDCODE
0
OMACHT6_FTFT
0
OMAWDP6_FTFT
0
OMACHT8_FTFT
0
OMAWDP8_FTFT
0
OMENRYP8_FTFT
0
OMENRAP8_FTFT
0
OMENRUP8_FTFT
0
OMACHT6_PTFT
0
OMAWDP6_PTFT
0
OMACHT8_PTFT
0
OMAWDP8_PTFT
0
OMENRYP8_PTFT
0
OMENRAP8_PTFT
0
OMENRUP8_PTFT
0
OMACHT6_FTNFT
0
OMAWDP6_FTNFT
0
OMACHT8_FTNFT
0
OMAWDP8_FTNFT
0
OMENRYP8_FTNFT
0
OMENRAP8_FTNFT
0
OMENRUP8_FTNFT
0
OMACHT6_PTNFT
0
OMAWDP6_PTNFT
0
OMACHT8_PTNFT
0
OMAWDP8_PTNFT
0
OMENRYP8_PTNFT
0
OMENRAP8_PTNFT
0
OMENRUP8_PTNFT
0
RET_FT4_POOLED
0
RET_FTL4_POOLED
0
RET_PT4_POOLED
0
RET_PTL4_POOLED
0
RET_FT_DEN4_POOLED
0
RET_FT_DENL4_POOLED
0
RET_PT_DEN4_POOLED
0
RET_PT_DENL4_POOLED
0
POOLYRSRET_FT
0
POOLYRSRET_PT
0
RET_FT4_POOLED_SUPP
0
RET_FTL4_POOLED_SUPP
0
RET_PT4_POOLED_SUPP
0
RET_PTL4_POOLED_SUPP
0
TRANS_4_POOLED
0
TRANS_L4_POOLED
0
DTRANS_4_POOLED
0
DTRANS_L4_POOLED
0
TRANS_4_POOLED_SUPP
0
TRANS_L4_POOLED_SUPP
0
C100_4_POOLED
0
C100_L4_POOLED
0
D100_4_POOLED
0
D100_L4_POOLED
0
POOLYRS100
0
C100_4_POOLED_SUPP
0
C100_L4_POOLED_SUPP
0
C150_4_PELL
0
D150_4_PELL
0
C150_L4_PELL
0
D150_L4_PELL
0
C150_4_LOANNOPELL
0
D150_4_LOANNOPELL
0
C150_L4_LOANNOPELL
0
D150_L4_LOANNOPELL
0
C150_4_NOLOANNOPELL
0
D150_4_NOLOANNOPELL
0
C150_L4_NOLOANNOPELL
0
D150_L4_NOLOANNOPELL
0
GT_28K_P10
6062
GT_28K_P8
6145
GT_28K_P6
6304

In [279]:
Data16 = pd.read_csv("MERGED2016_17_PP.csv", na_values=['PrivacySuppressed'],  dtype={'ZIP':str, 'ALIAS':str})

In [9]:
colnames=list(colcsv[0])
colnames[0]='id'
Data16.columns=colnames

In [240]:
Subset=Data_1415[['ICLEVEL','SCH_DEG','PREDDEG','HIGHDEG','INSTNM','UNITID']]
merged=Subset.merge(Data16,on='UNITID',how="left")[['INSTNM_x','INSTNM_y','PREDDEG_x','PREDDEG_y','SCH_DEG_x','SCH_DEG_y','ICLEVEL_x',"ICLEVEL_y",'HIGHDEG_x','HIGHDEG_y']]
merged[(merged['INSTNM_x']!=merged['INSTNM_y']) & 
       (merged['PREDDEG_x']!=merged['PREDDEG_y'])]

,INSTNM_x,INSTNM_y,PREDDEG_x,PREDDEG_y,SCH_DEG_x,SCH_DEG_y,ICLEVEL_x,ICLEVEL_y,HIGHDEG_x,HIGHDEG_y
68,Everest College-Phoenix,NaN,1,NaN,2.0,NaN,1,NaN,3,NaN
69,Collins College,NaN,3,NaN,3.0,NaN,1,NaN,3,NaN
70,Empire Beauty School-Paradise Valley,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
73,American Indian College Inc,NaN,3,NaN,3.0,NaN,1,NaN,3,NaN
102,ITT Technical Institute-Tucson,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
103,ITT Technical Institute-Tempe,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
130,ABC Beauty College Inc,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
162,Lees School of Cosmetology,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
167,Margaret's Hair Academy Inc,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
193,ITT Technical Institute-Rancho Cordova,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
216,Brooks Institute,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
301,Marinello Schools of Beauty-Hemet,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
310,Marinello Schools of Beauty-Santa Clara,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
313,Marinello Schools of Beauty-Burbank,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
314,Marinello Schools of Beauty-Moreno Valley,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
344,Heald College-Rancho Cordova,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
345,Heald College-Fresno,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
346,Heald College-San Jose,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
347,Heald College-San Francisco,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
348,Heald College-Concord,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
359,ITT Technical Institute-National City,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
360,ITT Technical Institute-San Dimas,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
361,ITT Technical Institute-Orange,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
394,Manchester Beauty College,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
395,Tulare Beauty College,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
404,Marinello Schools of Beauty-Los Angeles,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
412,Marinello Schools of Beauty-San Francisco,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
424,Mueller College,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
427,Everest College-Reseda,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
428,Everest College-Gardena,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
429,Everest College-Alhambra,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
430,Everest College-San Bernardino,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
431,The National Hispanic University,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
450,Pacific Lutheran Theological Seminary,NaN,4,NaN,3.0,NaN,1,NaN,4,NaN
458,Paris Beauty College,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
466,Westwood College-South Bay,NaN,3,NaN,3.0,NaN,1,NaN,3,NaN
480,Rudolf Steiner College,NaN,1,NaN,NaN,NaN,1,NaN,4,NaN
503,Westwood College-Los Angeles,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
511,Wyotech-Fremont,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
517,Sierra Valley College of Court Reporting,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
527,Pinnacle College,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
541,Marinello Schools of Beauty-Lake Forest,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
548,Victor Valley Beauty College Inc,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
586,Empire Beauty School-Lakewood,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
590,Prince Institute-Rocky Mountains,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
594,Westwood College-Denver North,NaN,2,NaN,3.0,NaN,1,NaN,3,NaN
609,National American University-Denver,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
640,Marinello Schools of Beauty-East Hartford,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
655,Lyme Academy College of Fine Arts,NaN,3,NaN,3.0,NaN,1,NaN,3,NaN
668,Marinello Schools of Beauty-Meriden,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
684,Yale-New Haven Hospital Dietetic Internship,NaN,4,NaN,NaN,NaN,1,NaN,4,NaN
688,Delaware Technical Community College-Owens,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
690,Delaware Technical Community College-Stanton/W...,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
705,Medtech Institute,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
715,Gooding Institute of Nurse Anesthesia,NaN,4,NaN,3.0,NaN,1,NaN,4,NaN
718,GUTI The Premier Beauty & Wellness Academy,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
722,Fortis College-Winter Park,NaN,1,NaN,2.0,NaN,2,NaN,2,NaN
729,Clearwater Christian College,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
756,University of Southernmost Florida,NaN,2,NaN,2.0,NaN,1,NaN,2,NaN
773,ITT Technical Institute-Tampa,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
777,Heritage Institute-Ft Myers,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
789,Manhattan Hairstyling Academy,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
798,Remington College-Tampa Campus,NaN,1,NaN,1.0,NaN,1,NaN,3,NaN
799,Everest Institute-North Miami,NaN,1,NaN,2.0,NaN,2,NaN,2,NaN
800,Academy of Palm Beach,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
805,Northwood University-Florida,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
836,Stenotype Institute of Jacksonville Inc-Jackso...,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
844,Everest University-Largo,NaN,1,NaN,2.0,NaN,1,NaN,4,NaN
880,Bauder College,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
881,Beauty College of America,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
917,Kennesaw State University,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
926,Moultrie Technical College,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
940,Southern Polytechnic State University,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
941,Southwest Georgia Technical College,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
950,Heald College-Honolulu,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
974,ITT Technical Institute-Boise,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
983,Alvareitas College of Cosmetology-Edwardsville,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
984,Alvareitas College of Cosmetology-Godfrey,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1087,CET-Chicago,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1118,Pivot Point Academy-Evanston,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1167,Apex Academy of Hair Design Inc,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1185,Hair Fashions By Kaye Beauty College-Indianapolis,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1207,ITT Technical Institute-Nashville,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
1208,ITT Technical Institute-Fort Wayne,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
1209,ITT Technical Institute-Indianapolis,NaN,2,NaN,2.0,NaN,1,NaN,4,NaN
1210,J Everett Light Career Center,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1214,Brown Mackie College-Michigan City,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
1221,Masters of Cosmetology College,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
1223,Merrillville Beauty College,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1250,AIB College of Business,NaN,3,NaN,3.0,NaN,1,NaN,3,NaN
1255,American College of Hairstyling-Cedar Rapids,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
1338,Central Baptist Theological Seminary,NaN,1,NaN,3.0,NaN,1,NaN,4,NaN
1344,Marinello Schools of Beauty-Manhattan,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1370,La Baron Hairdressing Academy-Overland Park,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1386,Sidneys Hair Dressing College,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1409,Collins School of Cosmetology,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
1421,Daymar College-Paducah Main,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
1423,Jenny Lea Academy of Cosmetology,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
1443,Nutek Academy of Beauty Inc,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
1446,Pat Wilson's Beauty College,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
1451,Saint Catharine College,NaN,3,NaN,2.0,NaN,1,NaN,4,NaN
1455,Brown Mackie College-Northern Kentucky,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
1467,American School of Business,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1470,Baton Rouge General Medical Center-School of R...,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
1541,Husson University,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
1615,Sojourner-Douglass College,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
1620,International Beauty School,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
1647,The Boston Conservatory,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
1678,Hallmark Institute of Photography,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1683,Henris School of Hair Design,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1686,Kay Harvey Academy of Hair Design,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1687,La Baron Hairdressing Academy-Brockton,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1688,La Baron Hairdressing Academy-New Bedford,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1696,Marian Court College,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
1715,Cortiva Institute-Boston,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1717,Everest Institute-Brighton,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1721,New England School of Acupuncture,NaN,4,NaN,3.0,NaN,1,NaN,4,NaN
1770,Baker College of Owosso,NaN,2,NaN,2.0,NaN,1,NaN,4,NaN
1802,Everest Institute-Grand Rapids,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1808,ITT Technical Institute-Wyoming,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
1810,Wright Beauty Academy,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1835,Baker College of Muskegon,NaN,2,NaN,2.0,NaN,1,NaN,4,NaN
1837,Everest College-Skokie,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1895,Globe University-Woodbury,NaN,2,NaN,2.0,NaN,1,NaN,4,NaN
1911,Regency Beauty Institute-Blaine,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1924,Crossroads College,NaN,3,NaN,3.0,NaN,1,NaN,3,NaN
1927,Minnesota School of Business-Richfield,NaN,3,NaN,2.0,NaN,1,NaN,4,NaN
1939,Regency Beauty Institute-Burnsville,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1945,Regency Beauty Institute-St Cloud,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
1974,Creations College of Cosmetology,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2010,ITT Technical Institute-Earth City,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
2020,Chillicothe Beauty Academy Inc,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2037,Forest Institute of Professional Psychology,NaN,4,NaN,3.0,NaN,1,NaN,4,NaN
2058,Lutheran School of Nursing,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2065,Westwood College-O'Hare Airport,NaN,3,NaN,3.0,NaN,1,NaN,3,NaN
2068,Missouri College,NaN,1,NaN,1.0,NaN,1,NaN,3,NaN
2071,Missouri Tech,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
2097,Sanford-Brown College-Fenton,NaN,2,NaN,1.0,NaN,1,NaN,3,NaN
2114,Truman Medical Center School of Nurse Anesthesia,NaN,4,NaN,NaN,NaN,1,NaN,4,NaN
2139,Modern Beauty School Inc,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2179,Vatterott College-Spring Valley,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
2182,Regional West Medical Center School of Radiolo...,NaN,1,NaN,NaN,NaN,2,NaN,1,NaN
2190,Marinello Schools of Beauty-Las Vegas,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2194,Marinello Schools of Beauty-Reno,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2200,Daniel Webster College,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
2206,Mount Washington College,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
2247,Empire Beauty School-Ocean,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2248,Cooper Health System Center for Allied Health ...,NaN,1,NaN,1.0,NaN,1,NaN,1,NaN
2252,Drake College of Business-Elizabeth,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2254,duCret School of Arts,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2280,HackensackUMC Mountainside School of Nursing,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2283,Empire Beauty School-Jersey City,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2316,Sanford-Brown Institute-Iselin,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2354,Globe Institute of Technology,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
2369,Austin's School of Spa Technology,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2391,Business Informatics Center Inc,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
2445,Dowling College,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
2471,Institute of Design and Construction,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
2482,SBI Campus-An Affiliate of Sanford-Brown,NaN,2,NaN,1.0,NaN,2,NaN,2,NaN
2501,MarJon School of Beauty ltd-Tonawanda,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2529,Star Career Academy-New York,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2553,Professional Business College,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
2556,Rabbinical College of Ch'san Sofer New York,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
2563,Everest Institute-Rochester,NaN,2,NaN,1.0,NaN,2,NaN,2,NaN
2588,St James Mercy Hospital School of Radiologic S...,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2634,Sanford-Brown Institute-New York,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2640,Utica School of Commerce,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
2672,Brookstone College-Charlotte,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2682,South College-Asheville,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
2697,Fayetteville Beauty College,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2731,Regina's College of Beauty-Monroe,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2751,Piedmont International University,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
2770,Empire Beauty School-Matthews,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2844,Carousel Beauty College-Middletown,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2845,Carousel Beauty College-Dayton,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2846,Carousel of Miami Valley Beauty College,NaN,1,NaN,NaN,NaN,2,NaN,1,NaN
2878,Eastern Hills Academy of Hair Design,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
2882,Regency Beauty Institute-Cleveland,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2896,American School of Technology,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
2899,ITT Technical Institute-Dayton,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
2940,Fortis College-Cuyahoga Falls,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
2941,Brown Mackie College-North Canton,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
2951,Ohio College of Massotherapy Inc,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
2992,Daymar College-Jackson,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
2994,Daymar College-Chillicothe,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
3005,Kaplan Career Institute-Cleveland,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3016,Valley Beauty School,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
3029,ITT Technical Institute-Youngstown,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
3071,Tulsa Technology Center-Peoria Campus,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3111,ITT Technical Institute-Portland,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
3124,Northwest Nannies Institute,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3153,Everest College-Portland,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
3182,Bidwell Training Center Inc,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
3193,Cambria-Rowe Business College-Johnstown,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
3214,Du Bois Business College-Du Bois,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
3215,Everest Institute-Pittsburgh,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
3221,Empire Beauty School-State College,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3225,Empire Beauty School-Williamsport,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3242,Empire Beauty School-Exton,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3243,Empire Beauty School-Laurel Springs,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3309,Pennsylvania Academy of Cosmetology Arts and S...,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3337,Pennsylvania Academy of Cosmetology Arts and S...,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3340,Pennsylvania Institute of Taxidermy Inc,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3360,Prism Career Institute-Upper Darby,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
3362,Joseph F McCloskey School of Nursing at Schuyl...,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
3425,Yorktowne Business Institute,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
3426,Empire Beauty School-Providence,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3475,Lenoir-Rhyne University-Lutheran Theological S...,NaN,4,NaN,3.0,NaN,1,NaN,4,NaN
3509,Kilian Community College,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
3559,Emmanuel Christian Seminary,NaN,4,NaN,3.0,NaN,1,NaN,4,NaN
3575,Knoxville Institute of Hair Design,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3592,Milligan College,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
3602,Plaza Beauty School,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3628,Tennessee Temple University,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
3633,New Concepts School of Cosmetology,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3635,Volunteer Beauty Academy-Dyersburg,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3672,Court Reporting Institute of Dallas,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
3679,Career Point College,NaN,1,NaN,1.0,NaN,1,NaN,3,NaN
3709,International Business College-El Paso,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
3710,ITT Technical Institute-Arlington,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
3711,ITT Technical Institute-Houston West,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
3732,Metroplex Beauty School,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3747,Northwood University-Texas,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
3795,Texas State Technical College-Waco,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
3814,Texas Vocational Schools Inc,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3819,Texas State Technical College-Harlingen,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
3820,Texas State Technical College-West Texas,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
3849,ITT Technical Institute-Murray,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
3851,Everest College-Salt Lake City,NaN,1,NaN,1.0,NaN,1,NaN,3,NaN
3865,Burlington College,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
3956,Springfield Beauty Academy,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3975,Wards Corner Beauty Academy-Norfolk,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3977,Sanford-Brown College-Tysons Corner,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
3978,Washington County Adult Skill Center,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
3987,Everest College-Bremerton,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
3988,Everest College-Renton,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4010,Interface College-Spokane,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
4012,ITT Technical Institute-Seattle,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4013,ITT Technical Institute-Spokane Valley,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4019,Trinity Lutheran College,NaN,3,NaN,3.0,NaN,1,NaN,3,NaN
4022,Northwest Hair Academy,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4034,Everest College-Seattle,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4049,Everest College-Vancouver,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
4079,Everest Institute-Cross Lanes,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
4120,ITT Technical Institute-Greenfield,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4138,Northland International University,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
4231,MBTI Business Training Institute,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4250,Ryder Memorial School for Practical Nursing,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4266,ITT Technical Institute-Sylmar,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4267,ITT Technical Institute-Westminster,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4268,Widener University-Delaware Law School,NaN,3,NaN,3.0,NaN,1,NaN,4,NaN
4273,The Beauty Institute Schwarzkopf Professional-...,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
4295,Career Point College,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
4306,Empire Beauty School-Manitowoc,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
4324,Heads West Kentucky Beauty College,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
4327,Southeast School of Cosmetology,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
4345,Fortis Institute-Mulberry,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
4351,ITT Technical Institute-Newburgh,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4367,Knowledge Systems Institute,NaN,4,NaN,3.0,NaN,1,NaN,4,NaN
4369,ITT Technical Institute-Arlington Heights,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4371,Tulsa Technology Center-Lemley Campus,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
4372,Tulsa Technology Center-Riverside Campus,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
4373,Tulsa Technology Center-Broken Arrow Campus,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4375,ITT Technical Institute-Troy,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4381,Skyline College-Roanoke,NaN,1,NaN,1.0,NaN,1,NaN,3,NaN
4386,Arizona Academy of Beauty-North,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4387,Empire Beauty School-Prescott,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4393,Heritage College-Denver,NaN,2,NaN,1.0,NaN,2,NaN,2,NaN
4394,Empire Beauty School-Highland,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
4401,Heald College-Roseville,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
4416,Sanford-Brown Institute-White Plains,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
4417,Sanford-Brown Institute-Garden City,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
4420,Total Cosmetology Training Center,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4425,Cannella School of Hair Design-Chicago,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4431,Paris II Educational Center,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4443,Connecticut Institute of Hair Design,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4462,Everest College-Aurora,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
4465,ITT Technical Institute-Norwood,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4469,ITT Technical Institute-Knoxville,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4470,ITT Technical Institute-Austin,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4471,ITT Technical Institute-Houston North,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4482,Empire Beauty School-Lowell,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4487,Star Career Academy-Brick,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4490,Madera Beauty College,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4494,Everest University-Lakeland,NaN,1,NaN,2.0,NaN,1,NaN,3,NaN
4506,ITT Technical Institute-Norfolk,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4511,Everest College-West Los Angeles,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
4515,ITT Technical Institute-Albuquerque,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4527,Windham Memorial Hospital-Radiologic Technolog...,NaN,1,NaN,1.0,NaN,2,NaN,1,NaN
4533,Arkansas Beauty School,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4534,Everest College-Ontario,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4536,Heald College-Stockton,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
4537,Heald College-Hayward,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
4541,Everest College-Anaheim,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
4544,Everest College-City of Industry,NaN,1,NaN,1.0,NaN,2,NaN,2,NaN
4547,Universal College of Beauty Inc-Los Angeles 2,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN
4551,ITT Technical Institute-Lake Mary,NaN,2,NaN,2.0,NaN,1,NaN,3,NaN
4553,Heritage Institute-Jacksonville,NaN,2,NaN,2.0,NaN,2,NaN,2,NaN
4561,Jonesville Beauty School,NaN,1,NaN,1.0,NaN,3,NaN,1,NaN

2534